requests
simplejson
six
lxml
xmltodict
flask
Jinja2
MarkupSafe
cython
pycryptodome
Pillow
Flask-RESTful
Flask-Cors
jsonschema
qiniu
pyjwt
celery
redis
Crypto
psycopg2-binary
#psycopg2
wechatpy
oss2
qcloudsms_py
xlsxwriter
xlrd
sqlalchemy
gevent
gunicorn



