<div style="width: 100%;">
  <ul style="display: inline-block; vertical-align: top; width: 50%;"
      tn-cell-type="group" tn-bind-cell="r1c1" tn-child-position="static">
    <li tn-sub-comp-loader></li>
  </ul><ul style="display: inline-block; vertical-align: top; width: 50%;"
      tn-cell-type="group" tn-bind-cell="r1c2" tn-child-position="static">
    <li tn-sub-comp-loader></li>
  </ul>
</div>
<ul style="display: block; width: 100%; vertical-align: top;"
    tn-cell-type="group" tn-bind-cell="row2" tn-child-position="static">
  <li tn-sub-comp-loader></li>
</ul>