*{box-sizing:border-box;}
body, h1, h2, h3, p, dl, ul, ol, form {margin: 0;padding: 0;}
ul,li{list-style:none;}
.searchtbl.table-bordered tr th{vertical-align: middle;}
.single-table{width:100%;}
.form-control{}

.single-table th,.single-table td{padding-bottom:3px;}
.main{position:relative;}
.lineBox{float:left;position:relative;margin-right:12px;}
.lineBox #file_upload{position:absolute;top:0px;left:0px;width: 100%;
    height: 100%;
    opacity: 0;}

.col-100{width:100%;}
.col-90{width:90%;}
.col-80{width:80%;}
.col-70{width:70%;}
.col-60{width:60%;}
.col-50{width:50%;}
.col-40{width:40%;}
.col-30{width:30%;}
.col-20{width:20%;}
.col-10{width:10%;}

.up-thumb-list dd{display:inline-block;margin-right:6px;margin-bottom:3px;overflow:hidden;width:25px;height:25px;}
.up-thumb-list dd img{width:100%;height:100%;}

.bordered-table td,.bordered-table th{border-right:#e8e8e8 1px solid;border-bottom:#e8e8e8 1px solid;}
.bordered-table td{padding:5px;}

.checklog_pic{width:100%;}
.checklog_pic li{float:left;margin-right:6px;height:100px;width:auto;padding:2px;border:solid 1px #ccc;}
.checklog_pic li img{height:100%;}

.map-div{background:#fff;margin-top:5px;position:relative;}
.map-div .location-time{position:absolute;top:60%;background:#0090ff;color:#fff;width:80%;left:50%;margin-left:-40%;border-radius:6px;font-size:12px;
padding:2px 12px;}

.popover-content dd{line-height:20px;}
.panel .panel-body table tr th,.panel .panel-body table tr td{height:42px;}
.panel .panel-body .list-table tr th{background:#d4d4d4;color:#333;border:solid 1px #aaa;padding:3px;}
.panel .panel-body .list-table tr td{border:solid 1px #aaa;border-top:none;padding:3px;}

.detail-list-tb .active{background:#deba12;}
.sup-table .active{background:#deba12;}
.panel-header .search-header{padding:5px;}