<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{site_title}}</title>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="../static/assets/css/font.css" type="text/css" />
<link href="../static/assets/css/wbbjlcom.css" rel="stylesheet">
<link href="../static/assets/css/wbbjlmt.css" rel="stylesheet">
<link href="../static/assets/js/layer/skin/layer.css" rel="stylesheet">
<link rel="stylesheet" href="../static/assets/css/index.css">
<link rel="stylesheet" href="../static/assets/css/main.css">
<link rel="stylesheet" href="../static/assets/css/index1.css">
<link rel="stylesheet" href="../static/assets/css/redcsshake.min.css">
<link rel="stylesheet" href="../static/assets/css/redstyle.css">
<script src="../static/assets/js/red/zepto.min.js"></script>

<script src="../static/assets/js/jquery-3.2.1.js"></script>
<script src="../static/assets/js/layer_mobile/layer.js"></script>
<script src="../static/assets/js/index.js"></script>
<script src="../static/assets/js/common.js"></script>
<script src="../static/assets/js/bootstrap.js"></script>
</head>
<style>
.content-box {
    background-color: #f6f6f6;
    width: 100%;
    padding-bottom: 0 !impotrant;
    overflow: hidden;    
}
.mytitle {width:284px;
		  font-size:12px;
		  height:400px;
		  text-align:left;
		  background:url(../static/assets/images/redsm.png) no-repeat center;background-size:100%;-moz-background-size:100%;-webkit-background-size:100%;
｝
..layui-m-layercont {padding: 0px;
    line-height: 22px;
    text-align: center;}
</style>
<body class="Lbgcw"   style="background:url(../static/assets/images/redbg.png) no-repeat fixed center;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;overflow-y:hidden;">
<div id="views" class="views1476855483273">
	<div style="width:100%;height:40px;"><button style="position:absolute;right:0px;width:100px;height:35px;background:#ffa71f;font-size:18px;color:#ffffff;border-top-left-radius:17px;border-bottom-left-radius:17px;" onClick="showtitle();">活动规则</button>
	</div>
	<div class="login-frm" style="width: 100%!important;background:transparent;margin:0px;">

	        <div class="red"><!-- shake-chunk -->
				<span style="background-image: url(../static/assets/images/red-b.png);"></span>
				<button class="redbutton" type="领取红包" 
				{% if item.cstatus == 1 %}style="cursor:pointer;"
				{%else%} disabled = "disabled"
				{%endif%}
				>{%if item.cstatus == 1%}领红包{%elif item.cstatus in (2,3)%}已领完{%elif item.cstatus == 11 %}待领取{%else%}已结束{%endif%}</button>
				<div class="red-jg" onClick="myreload();">
					<h1 id="redsm">恭喜您!</h1>
					<h5 id="idredjp">获得</h5>
				</div>
			</div>

	</div>
	<div style="width:100%;height:20%;position:absolute;bottom:0px;overflow-y:hidden;">
		<div style="width:100%;height:38%;"><button style="float:right;width:80px;height:50px;background:url(../static/assets/images/redmy.png) no-repeat center;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;font-size:18px;color:#ffffff;border-radius:7px;
		border:1px solid #ffffff;margin-right:20px;" onClick="window.location.href='{{domain}}?viewid=H001&detail=1&srfid=1'"></button>
		</div>
		<div style="width:100%;height:60%;position:absolute;bottom:0px;">
			<div style="width:200px;height:30px;line-height:30px;margin:7% auto;text-align:center;color:#098703;background:#ced5d5;border-radius:10px;font-weight:bolder;">{%if item.cstatus == 9 %}<span>活动已结束，敬请期待...<span>{%elif item.cstatus == 11 %}<span>使用红包后，可免费领 &nbsp;<span><span id="redcs">{{item.times}}</span><span>&nbsp;次<span>{%else%}<span>今天还可以免费领 &nbsp;<span><span id="redcs">{{item.times}}</span><span>&nbsp;次<span>{%endif%}<div>
		</div>
	</div>
</div> 

<script type="text/javascript">
	$(document).ready(function() {
    // 点击redbutton按钮时执行以下全部
    $('.redbutton').click(function(){
        // 在带有red样式的div中添加shake-chunk样式
        $('.red').addClass('shake-chunk');
		$('.redbutton').attr("disabled" , "disabled");
		urls = "{{domain}}?viewid=H001&ared=1";
		$.ajax({async:false,
				dataType:"json",
				url:urls,
				success:function(res){
						if (res.error == 10)
						{
							ialert("活动敬请期待...");
							$('.red').removeClass('shake-chunk');
							return false;
						}
						else if (res.error == 11)
						{
							ialert("使用礼券后才可继续领取");
							return false;
						}
						else if (res.error == 0 || res.error == 1)
						{
							ialert("红包开启中...");
						}
						else{
							ialert("活动已停止...");
						}
						

						// 点击按钮2000毫秒后执行以下操作
						setTimeout(function(){
						// 在带有red样式的div中删除shake-chunk样式
							$('.red').removeClass('shake-chunk');
							if (res.error != 0)
							{
								$('#redsm').html('');
							}
							else {
								$('#redsm').html('恭喜您!');
							}
							$('#redcs').html(res.times);
							$('#idredjp').html(res.msg);
							// 将redbutton按钮隐藏
							$('.redbutton').css("display" , "none");
							// 修改red 下 span   背景图
							$('.red > span').css("background-image" , "url(../static/assets/images/red-y.png)");
							// 修改red-jg的css显示方式为块
							$('.red-jg').css("display" , "block");
							setTimeout(function(){myreload();},5000);
						},2000);

						
					},
				error:function(res){
					$('.red').removeClass('shake-chunk');
					ialert("活动未开始");
				}
		});
        
    });
	});

	function showtitle(){
		
	layer.open({
		btn: '我知道了',
		style: 'width:284px;height:400px;margin:0 auto;background:transparent;',
		content:'<div class="mytitle"><div style="padding:35px 20px 20px 20px;;">{{item.memo}}</div></div>'
	});
	$('.layui-m-layercont').css("padding" , "0px");
	}

	function myreload(){
　　	window.location.href="{{domain}}?viewid=H001&"+"&wid="+10000*Math.random();
	}
</script>
{% include 'footer.html' %}