<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{site_title}}</title>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="../static/assets/css/font.css" type="text/css" />
<link href="../static/assets/css/wbbjlcom.css" rel="stylesheet">
<link href="../static/assets/css/wbbjlmt.css" rel="stylesheet">
<link href="../static/assets/js/layer/skin/layer.css" rel="stylesheet">
<link rel="stylesheet" href="../static/assets/css/index.css">
<link rel="stylesheet" href="../static/assets/css/main.css">
<link rel="stylesheet" href="../static/assets/css/index1.css">
<link rel="stylesheet" href="../static/assets/css/qgstyle.css">
<link rel="stylesheet" href="../static/assets/css/simpleAlert.css">
<!--<script src="asset/js/red/zepto.min.js"></script>-->

<script src="../static/assets/js/jquery-3.2.1.js"></script>
<script src="../static/assets/js/layer_mobile/layer.js"></script>
<script src="../static/assets/js/index.js"></script>
<script src="../static/assets/js/common.js"></script>
<script src="../static/assets/js/bootstrap.js"></script>

</head>
<style>
#views{
	height:100%;
}
.layui-m-layercont {padding: 0px;
    line-height: 22px;
    text-align: center;}

*{margin:0;padding:0;}
ul{list-style:none;}
img{border:0;}
.scroll{width:100%;height:103px;}
.scroll_left{width:23px;height:63px;background:url(images/btn_left.jpg) no-repeat;float:left;}
.scroll_right{width:23px;height:63px;background:url(images/btn_right.jpg) left no-repeat;float:left;}
.pic{width:312px;height:105px;float:left;color:#f6951d;}
.pic ul{display:block;}
.pic ul li{float:left;display:inline;width:100px;text-align:center;}

.content-box {
    background-color: #f6f6f6;
    width: 100%;
    padding-bottom: 0 !impotrant;
    overflow: hidden;    
}
.mytitle {width:284px;
		  font-size:13px;
		  height:400px;
		  text-align:left;
		  background:url(../static/assets/images/qgsm.png) no-repeat center;
		  background-size:100%;
		  -moz-background-size:100%;
		  -webkit-background-size:100%;
｝

</style>
<body class="Lbgcw"    style="background:url(../static/assets/images/qgback.png) no-repeat fixed center;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;overflow-y:hidden;">
<div id="views" class="views1476855483273">
	
	<div class="login-frm" style="width: 100%!important;margin:0px;height:100%;background:transparent;overflow-y:hidden;">
			<input type="hidden" name="mycode" value="{{v_code}}" />
	        <div class="myqg">
				<div class="span" >
					<div class="divtop" style="background-image: url(../static/assets/images/qgtop.png);">
						<div id="headsm" style="width:100%;height:40px;"><button style="float:right;width:100px;height:35px;background:#ffa71f;font-size:18px;color:#ffffff;border-top-left-radius:17px;border-bottom-left-radius:17px;" onClick="showtitle();">活动规则</button>
						</div>
					</div>
					<div class="divbutton" style="background-image: url(../static/assets/images/qgtai.png);">
						<div class="divsp" style="background-image: url(../static/assets/images/qgpm.png);">
								<div id="myscroll" style="margin:0px auto;width:83%;padding:21% 0%;">
									<div class="scroll">
										<div class="pic" id="scrollPic">
										<ul>
										{% for e in itemlist%}
											<li><a href="{{domain}}?viewid=H002&toshowgoods=1&ttid={{e.item_id}}"><div><img src="resource/goodimg/{{e.item_id}}.{{e.pic}}" width="85" height="85" alt="" /><div style="font-size:14px;">{{e.pm}}</div></div></a></li>
										{%endfor%}
										</ul>
										</div>
									</div>
								</div>
						</div>
					   <div class="divmybutton">
							<div style="float:left;height:98%;line-height:98%;width:32%;padding-top:3%;"><button id="pmbutton" style="width:64px;height:47px;background:url(../static/assets/images/wo.png) no-repeat center;background-size:100%;-moz-background-size:100%;-webkit-background-size:100%;" onclick="wmoutturn();"></button></div>
							<div style="float:left;height:100%;line-height:100%;width:67%;margin-top:-22px;">{%if item.cstatus == 1%}<button id="qgbutton" style="float:left;width:110px;height:105px;background:url(asset/images/qgbutton1.png) no-repeat  center;background-size:100%;-moz-background-size:100%;-webkit-background-size:100%;"></button>
							{%else%}<button id="qgbutton" style="float:left;width:110px;height:105px;background:url(../static/assets/images/qgbutton2.png) no-repeat  center;background-size:100%;-moz-background-size:100%;-webkit-background-size:100%;"></button>{%endif%}
							<img style="float:right;padding-top:30px;width:40%;height:110%;" src="../static/assets/images/qgkuang.png"/></div>
					   </div>
					</div>
				</div>
			</div>
		<div style="width:100%;height:16%;position:absolute;bottom:0px;overflow-y:hidden;background:#ffc42c;overflow-x:hidden;overflow-y:auto;z-index:888;">
			<div class="pm">
					<div class="pmt"><h2>排名表</h2></div>
					<div class="pml">
						<ul>
							{%for en in pmlist%}
								<li><p>{{en.pm}}，{{en.vcname}} {{en.price}}元（原价{{en.ls_price}}元）</p><p>姓名 {{en.usr_name}}  （{{en.mobile}}）</p></li>
							{%endfor%}
						</ul>
					
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div> 
<script src="../static/assets/js/scrollPic.js"></script>

<script type="text/javascript">
	
	var scwidth = $("#myscroll").width();
	var scrollPic1 = new ScrollPic();
	window.onload = function(){
	scrollPic();
	}
	function scrollPic() {
		var scrollPic = scrollPic1;
		scrollPic.scrollContId   = "scrollPic"; //内容容器ID

		scrollPic.frameWidth     = scwidth;//显示框宽度
		scrollPic.pageWidth      = 100; //翻页宽度

		scrollPic.speed          = 1; //移动速度(单位毫秒，越小越快)
		scrollPic.space          = 30; //每次移动像素(单位px，越大越快)
		scrollPic.autoPlay       = true; //自动播放
		scrollPic.autoPlayTime   = 1; //自动播放间隔时间(秒)

		scrollPic.initialize(); //初始化
	}

	function scrollPic2() {
		var scrollPic = scrollPic1;
		scrollPic.autoPlayTime   = 0.05; //自动播放间隔时间(秒)
	}

	 $('#qgbutton').click(function(){
		$('#qgbutton').css("background" , "url(../static/assets/images/qgbutton2.png)  center no-repeat");
		$('#qgbutton').css("background-size" , "100%");
		urls = "{{domain}}?viewid=H002&ared=1";
		$.ajax({async:false,
				dataType:"json",
				url:urls,
				success:function(res){
						
						if (res.error == 10)
						{
							ialert("活动敬请期待...");
							return false;
						}
						else if (res.error == 0 || res.error == 1)
						{
							ialert("抢购中...");
							scrollPic2();
						}
						else if (res.error == 6)
						{
							ialert(res.msg);
							$('#qgbutton').css("background" , "url(../static/assets/images/qgbutton1.png)  center no-repeat");
							$('#qgbutton').css("background-size" , "100%");
							return false;
						}
						else{
							ialert(res.msg);
							return false;
						}
						
						setTimeout(function(){
							layer.open({
								content: res.msg
								,style:'border:none;font-size:14px;font-weight:bold;background:#fdf6cd;border-top-left-radius:30px;border-top-right-radius:30px;height:180px;'
								,btn:['确定', '不要']
								,yes:function(e){
									window.location.href="{{domain}}?viewid=H002&ord=1&srfid=H002&pmmid="+res.ppmid;
								}
								,no:function(e){
									window.location.href="{{domain}}?viewid=H002&srfid=H002&ppmid="+res.ppmid;
								}
								});
							$(".layui-m-layercont").css("height",'180px');
							$(".layui-m-layercont").css("background","transparent");
							$(".layui-m-layercont").css("font-size","18px;");
							$(".layui-m-layerbtn").css("background","#fdf6cd");
							$(".layui-m-layerbtn").css("margin-top","-20px");
							$(".layui-m-layerbtn").css("border-radius","40px");
						},2000);

					},
				error:function(res){
					ialert("活动未开始，请稍后...");
				}
		});
        
    });

	function wmoutturn(){
		window.location.href="{{domain}}?viewid=H002&detail=1&srfid=H002";
	}
	//$(document).ready(function() {
	//	$('.qiang').click(function(){
	//		$('.pingspan').css("background-image" , "url(asset/images/qiang.png)");
	//		var onlyChoseAlert = simpleAlert1({
	//			"content":"抢!",
	//			"buttons":{
	//				"":function () {
	//					$('.pingspan').css("background-image" , "url(asset/images/ping.png)");
	//					onlyChoseAlert.close();
	//				}
	//			}
	//		})

	//	});





	//});

		
/*
		$('.woup').click(function(){
			// 在带有red样式的div中添加shake-chunk样式
			$('.guiis').css("display" , "block");
			var dblChoseAlert = simpleAlert({
				"content":"<div class='woupis' style>我的排名</><div class='guiis'>活动规则</>"
				
			})
			/*
			$('.ping').addClass('shake-chunk');
			// 点击按钮2000毫秒后执行以下操作
			setTimeout(function(){
				// 在带有red样式的div中删除shake-chunk样式
				$('.ping').removeClass('shake-chunk');
				// 将redbutton按钮隐藏
				$('.pingbutton').css("display" , "none");
				// 修改red 下 span   背景图
				$('.ping > span').css("background-image" , "url(../static/assets/images/red-y.png)");
				// 修改red-jg的css显示方式为块
				$('.ping-jg').css("display" , "block");
			},2000);
			*/
		/*});

		$('.gui').click(function(){
			// 在带有red样式的div中添加shake-chunk样式
			alert('还没有做好，一会玩');
			/*
			$('.ping').addClass('shake-chunk');
			// 点击按钮2000毫秒后执行以下操作
			setTimeout(function(){
				// 在带有red样式的div中删除shake-chunk样式
				$('.ping').removeClass('shake-chunk');
				// 将redbutton按钮隐藏
				$('.pingbutton').css("display" , "none");
				// 修改red 下 span   背景图
				$('.ping > span').css("background-image" , "url(../static/assets/images/red-y.png)");
				// 修改red-jg的css显示方式为块
				$('.ping-jg').css("display" , "block");
			},2000);
			*/
	/*	});

	});
*/
	function showtitle(){
		
		layer.open({
			
			style: 'width:284px;height:400px;margin:0 auto;background:transparent;',
			content:'<div class="mytitle"><div style="padding:35px 20px 20px 20px;"><div style="width:255px;height:345px; overflow-x:scroll;">{{item.memo}}</div></div></div>'
		});
		$('.layui-m-layercont').css("padding" , "0px");
	}
	
	function autoScroll(obj){  
			$(obj).find("ul").animate({  
				marginTop : "-39px"  
			},500,function(){  
				$(this).css({marginTop : "0px"}).find("li:first").appendTo(this);  
			})  
		}  
	$(function(){  
			setInterval('autoScroll(".pml")',2000);
		}) 
</script>
{% include 'footer.html' %}