{% include 'mheader.html' %}
</head>
<body data-curpagename="page5" >
<form action="{{domain}}?viewid=home" method="post" id="form1">
<div id="pghome_jPanel2" class="mui-content" style="border:0px;">
	<div id="pghome_jTurns1" class="mui-slider vjdistitle" style="border:0px;">
		<div class="mui-slider-group mui-slider-loop">
			<!--<div class="mui-slider-item">
					<a href="#"><img  id="pghome_Images8"  src="asset/images/banner13.png" class="Timage Timageaoto"/>
					<map name="pghome_Images8_map" id="pghome_Images8_map">
					</map>
					<p class="mui-slider-title">活动1</p></a>
				</div>-->

				
			
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a href="#"><img  id="pghome_jImages1"  src="../static/assets/images/banner3.png" class="Timage Timageaoto"/>
				<map name="pghome_jImages1_map" id="pghome_jImages1_map">
				</map>
				<p class="mui-slider-title">活动5</p></a>
			</div>
			<div class="mui-slider-item">
				<a href="#"><img  id="pghome_jImages1"  src="../static/assets/images/banner422_1.jpg" class="Timage Timageaoto"/>
				<map name="pghome_jImages1_map" id="pghome_jImages1_map">
				</map>
				<p class="mui-slider-title">活动22</p></a>
			</div>
			<div class="mui-slider-item">
				<a href="#"><img  id="pghome_jImages1"  src="../static/assets/images/banner422_2.jpg" class="Timage Timageaoto"/>
				<map name="pghome_jImages1_map" id="pghome_jImages1_map">
				</map>
				<p class="mui-slider-title">活动23</p></a>
			</div>
			<div class="mui-slider-item">
				<a href="#"><img  id="pghome_jImages1"  src="../static/assets/images/banner422_3.jpg" class="Timage Timageaoto"/>
				<map name="pghome_jImages1_map" id="pghome_jImages1_map">
				</map>
				<p class="mui-slider-title">活动24</p></a>
			</div>
			

			<div class="mui-slider-item" style="border:0px;">
				<a href="{{domain}}?viewid=H003&srfid=home"><img  id="pghome_jImages3"  src="../static/assets/images/banner1.png" class="Timage Timageaoto"/>
				<map name="pghome_jImages3_map" id="pghome_jImages3_map">
				</map>
				<p class="mui-slider-title">活动3</p></a>
			</div>
			<div class="mui-slider-item" style="border:0px;">
				<a href="#"><img  id="pghome_jImages4"  src="../static/assets/images/banner2.png" class="Timage Timageaoto"/>
				<map name="pghome_jImages4_map" id="pghome_jImages4_map">
				</map>
				<p class="mui-slider-title">活动4</p></a>
			</div>
			<div class="mui-slider-item" style="border:0px;">
				<a href="#"><img  id="pghome_jImages5"  src="../static/assets/images/banner3.png" class="Timage Timageaoto"/>
				<map name="pghome_jImages5_map" id="pghome_jImages5_map">
				</map>
				<p class="mui-slider-title">活动5</p></a>
			</div>
			
			

		</div>
		<div class="mui-slider-indicator" style="display:none;">
			<div class="mui-indicator"></div>
			<div class="mui-indicator"></div>
			<div class="mui-indicator"></div>
			<div class="mui-indicator"></div>
			<div class="mui-indicator"></div>
			<div class="mui-indicator"></div>
			<div class="mui-indicator"></div>
		</div>
	</div>
	<div id="pghome_list" class="navbar_style3 mui-slider-indicator mui-table-view navbar navimg_circlefill" style="border:0px;" data-col="5">
		<a id="pghome_list_item1" class="vj-tablecell" href="{{domain}}?viewid=H001&srfid=home">
			<span class="mui-tab-label"><span class="mui-icon-extra icon iconfont icon-red-packet_icon" style="line-height: 10vw;height: 10vw;width: 10vw;font-size:7vw;"></span><div style="line-height: 20px;">抢红包</div></span>
		</a>
		<a id="pghome_list_item2" class="vj-tablecell" href="{{domain}}?viewid=H002&srfid=home">
			<span class="mui-tab-label"><span class="mui-icon-extra icon iconfont icon-naozhong home_tb" style="line-height: 10vw;height: 10vw;width: 10vw;font-size:7vw;"></span><div style="line-height: 20px;">抢购活动</div></span>
		</a>
		<a id="pghome_list_item3" class="vj-tablecell" href="{{domain}}?viewid=H003&srfid=home">
			<span class="mui-tab-label"><span class="mui-icon-extra  icon iconfont icon-jifen home_tb" style="line-height: 10vw;height: 10vw;width: 10vw;font-size:7vw;"></span><div  style="line-height: 20px;">积分商城</div></span>
		</a>
		<a id="pghome_list_item4" class="vj-tablecell" href="{{domain}}?viewid=signin&srfid=home">
			<span class="mui-tab-label"><span class="mui-icon-extra icon iconfont icon-ziyuan home_tb" style="line-height: 10vw;height: 10vw;width: 10vw;font-size:7vw;"></span><div style="line-height: 20px;">签到有礼</div></span>
		</a>
		<a id="pghome_list_item5" class="vj-tablecell" href="{{domain}}?viewid=D001&srfid=home">
			<span class="mui-tab-label"><span class="mui-icon-extra icon iconfont icon-vip home_tb" style="line-height: 10vw;height: 10vw;width: 10vw;font-size:7vw;"></span><div style="line-height: 20px;">会员卡</div></span>
		</a>
	</div>
	<div id="pghome_list" class="navbar_style3 mui-slider-indicator mui-table-view navbar navimg_circlefill" style="border:0px;" data-col="5">
		<a id="pghome_list_item6" class="vj-tablecell" style="padding:0px;" href="{{domain}}?viewid=H005&srfid=home">
			<span class="mui-tab-label"><span class="mui-icon-extra icon iconfont icon-zan1" style="line-height: 10vw;height: 10vw;width: 10vw;font-size:7vw;"></span><div style="line-height: 20px;">助力游戏</div></span>
		</a>
		<a id="pghome_list_item7" class="vj-tablecell" style="padding:0px;"  href="{{domain}}?viewid=H004&srfid=home">
			<span class="mui-tab-label"><span class="mui-icon-extra icon iconfont icon-xianjinquan home_tb" style="line-height: 10vw;height: 10vw;width: 10vw;font-size:7vw;"></span><div style="line-height: 20px;">抢购礼券</div></span>
		</a>
		<a id="pghome_list_item0" class="vj-tablecell" style="padding:0px;" href="#">
			<span class="mui-tab-label"><span class="mui-icon-extra" style="line-height: 10vw;height: 10vw;width: 10vw;font-size:7vw;"></span><div  style="line-height: 20px;"></div></span>
		</a>
		<a id="pghome_list_item0" class="vj-tablecell" style="padding:0px;" href="#">
			<span class="mui-tab-label"><span class="mui-icon-extra " style="line-height: 10vw;height: 10vw;width: 10vw;font-size:7vw;"></span><div style="line-height: 20px;"></div></span>
		</a>
		<a id="pghome_list_item0" class="vj-tablecell" style="padding:0px;" href="#">
			<span class="mui-tab-label"><span class="mui-icon-extra" style="line-height: 10vw;height: 10vw;width: 10vw;font-size:7vw;"></span><div style="line-height: 20px;"></div></span>
		</a>
	</div>
	
	<div id="pghome_jPanel3" style="border:0px;">
		<ul id="pghome_ListPic" class="mui-table-view mui-grid-view  vjtransparent" style="padding:0 5px 2px 0;">	
			<li class="mui-table-view-cell mui-media mui-col-xs-6" style="padding: 5px 0 0 5px;">
				<a href="{{domain}}?viewid=A001&srfid=home&dplxid=2" target="_self" style="margin:-5px 0 0 -5px" ><img  id="pghome_jImages8"  src="../static/assets/images/tjms-bg.png" class="Timage Timageaoto" /><div style="width:100%;text-align:center;position:absolute;top:32%;font-size:8vw;color:#ffffff;">特价秒杀<div style="line-height:6vw;vertical-align:middle;font-size:2vw;margin-top:2.5vw;margin-left:15px;">等你来抢GO></div></div>
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-6"  style="padding: 5px 0 0 5px;">
				<a href="{{domain}}?viewid=H004&srfid=home" target="_self" style="margin:-5px 0 0 -5px" ><img  id="pghome_jImages9"  src="../static/assets/images/qgyhq-bg.png" class="Timage Timageaoto"/><div style="width:100%;text-align:center;position:absolute;top:32%;font-size:8vw;color:#ffffff;">超值礼券<div style="line-height:6vw;vertical-align:middle;font-size:2vw;margin-top:2.5vw;margin-left:15px;">等你来抢GO></div></div>
				</a>
			</li>
		</ul>
	</div>
	<div id="pghome_yh" style="height:35px;background: #ffffff;">
		<div style="float:left;width:70%;">
			<div id="pghome_yh2">
				<div id="pghome_ltext">优惠购物</div>
			</div>
		</div>
		<a id="pghome_jLink1" href="?viewid=A001" style="color:#666666;padding-right:5px;" class="mui-btn mui-btn-link mui-pull-right">查看更多&gt;</a>
	</div>

	<ul id="pghome_jListTable1" class="mui-table-view mui-grid-view" style="padding:5px;">	
	{% for e in item%}
		<li class="mui-table-view-cell mui-media mui-col-xs-6" style="padding:5px;" onClick="CMy({{e.id}})">
			<div style="width:100%;height:100%;display:inline-block; box-shadow:0px 0px 10px #909090;padding:3px;">
			<img id="pghome_jImages4" class="mui-media-object my-imgheight" src="{% if e.fext != '' %}resource/goodimg/{{e.item_id}}.{{e.fext}}{% else %}asset/images/mrtp.png{% endif %}">
			<div id="page5_jLabel2" class="mygname" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">{{e.cname}}</div>
				<div id="page5_jLabel13" class="mui-pull-left left-font-style">￥{{e.price}}元
					{% if e.amount>0 %}
						<button type="button" class="my-gw-button btnsize_small mui-pull-right nopadding"><span class="mui-icon-extra icon iconfont icon-gouwuche" style="font-size:6vw;"></span></button>
					{% else %}
						<p style="display: inline-block;float: right;font-size:.9rem;">已售罄</p>
					{% endif %}	
				</div></div>
		</li>
	{%endfor%}
	</ul>
	<div id="none-list" class="">
	
	</div>
</div>
<nav id="pghome_jNavigation1" class="navbar_style3 mui-slider-indicator  mui-segmented-control navbar" data-col="4">
	<a id="pghome_jNavigation1_item1" class="mui-control-item mui-active" href="{{domain}}?viewid=home">
		<span class="mui-tab-label"><img src="../static/assets/images/homez1.png" style="width: 6vw;"><div>首页</div></span>
	</a>
	<a id="pghome_jNavigation1_item2" class="mui-control-item" href="{{domain}}?viewid=A001&srfid=home">
		<span class="mui-tab-label"><img src="../static/assets/images/homefl.png" style="width: 6vw;"><div>分类</div></span>
	</a>
	<a id="pghome_jNavigation1_item3" class="mui-control-item" href="{{domain}}?viewid=B001&srfid=home">
		<span class="mui-tab-label"><img src="../static/assets/images/homgc.png" style="width: 6vw;"><div>购物车</div></span>
	</a>
	<a id="pghome_jNavigation1_item4" class="mui-control-item" href="{{domain}}?viewid=M001&srfid=home">
		<span class="mui-tab-label"><img src="../static/assets/images/homemy.png" style="width: 6vw;"><div>我的</div></span>
	</a>
</nav>

</form>
</body>
<script type="text/javascript">
		

		mui.init({
		gestureConfig:{
			tap: true,
			doubletap: true,
			longtap: true,
			hold: true,
			drag: true,
			swipe: true,
			release: true,
			swipeBack:true, //启用右滑关闭功能
		}
		});

		//获得slider插件对象
		var gallery = mui('.mui-slider');
		gallery.slider({
		  interval:5000//自动轮播周期，若为0则不自动播放，默认为0；
		});
		function CMy(lid){
			window.location.href = "{{domain}}?viewid=A002&srfid=home&tid="+lid;
		}

		mui('body').on('tap','a',function(){
			window.location.href=this.href;
		});

</script>
</html>
