{% extends "local.html" %}

{% block MUL_BTNS %}
 <input type="submit" class="btn btn-sm btn-info" name="add_save" value="提交"/>
 {{sUrlBack}}
{% endblock %}

{% block html_local %}
<link href="static/web-uploader/css/uploader-image.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/web-uploader/js/Q.js"></script>
<script type="text/javascript" src="static/web-uploader/js/Q.Uploader.js"></script>
<script type="text/javascript" src="static/web-uploader/js/Q.Uploader.UI.Image.js"></script>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label"><b style="color:#333333;">{{requiredIcon}}标题名称:</b></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="title" value="{{item.title}}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"><b style="color:#333333;">跳转商品:</b></label>
        <div class="col-sm-6">
            <div class="col-sm-6">
            <input type="hidden" name="business_id" value="{{item.business_id}}"/>
            <input type="text" class="form-control"  name="good_name" value="{{item.good_name}}" readonly="1"/>
            </div>
            <div class="col-sm-3">{{jf_mselect}}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"><b style="color:#333333;">链接地址:</b></label>
        <div class="col-sm-3">
             <input type="text" class="form-control" name="link_url" value="{{item.link_url}}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"><b style="color:#333333;">{{requiredIcon}}类型:</b></label>
        <div class="col-sm-3">
            <select name="ctype"  class="form-control" >
               <option value="0">请选择类型</option>
                {% for t in pic_type%}
               <option value="{{t[0]}}" title="{{t[1]}}" {{' selected="selected"' if item.ctype|string == t[0]|string}}>{{t[1]}}</option>
                {% endfor %}
			</select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"><b style="color:#333333;">显示状态:</b></label>
        <div class="col-sm-3">
            <select name="status"  class="form-control" >
               <option value="0"{{' selected="selected"' if item.status|string == '0'}}>显示</option>
               <option value="1"{{' selected="selected"' if item.status|string == '1'}}>隐藏</option>
			</select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"><b style="color:#333333;">{{requiredIcon}}图片:</b></label>
        <div class="col-sm-3">
            <input type="hidden" name="pic_url" value="{{item.pic_url}}"/>
            <div class="row">
                <div id="container" style="position: relative;">
                    <a id="pickfiles"  style="position: relative; z-index: 1;">[选择本地文件]</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="logo">
                {% if item.pic_url %}
                    <img class="col-sm-6" src="{{item.pic_url}}"/>
                {%endif%}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"><b style="color:#333333;">备注:</b></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="remark" value="{{item.remark}}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"><b style="color:#333333;">排序:</b></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="sort" value="{{item.sort}}"/>
        </div>
    </div>

</div>
{% endblock %}


{% block page_script %}

<script>

	var ids = new Array("pickfiles","pickfilesa");
	var divs = new Array("logo","share");
    var hinames = new Array("pic_url","home_pic_link");

    $.each(ids,function(i,n){
        var self = this.toString();
        //实例化一个plupload上传对象
        var Uploader = Q.Uploader,
        formatSize = Q.formatSize,
        boxView = document.getElementById(""+divs[i]+"")
        var uploader = new Uploader({
            url: '/upload?viewid={{viewid}}&part=Img',
            target: document.getElementById(""+self+""),
            view: boxView,//如果去掉这个，会导致压缩效果不好
            //将auto配置为false以手动上传
            auto: true,
            dataType: "json",
            allows: ".jpg,.png,.gif,.bmp,.jpeg",
            upName: "file",
            //图片缩放
            /*scale: {
                //要缩放的图片格式
                types: ".jpg,.png,.jpeg,.bmp",
                //最大图片大小(width|height)
                maxWidth: 500
            },*/
            on: {
                //添加之前触发
                add: function (task) {
                	layer.load()
                    if (task.disabled) return layer.alert("允许上传的文件格式为：" + this.ops.allows);
                },
                upload: function (task) {
                	layer.load()
                },
                complete: function(task){
                    var jsons=task.json;
                    if(jsons){
                        $("#"+divs[i]+"").html('');
                        var innerDivHtml = '<img src="'+ task.json.url  +'" class="col-sm-12">';
                        $("#"+divs[i]+"").append(innerDivHtml);
                        $('input[name='+hinames[i]+']').val(task.json.url);
                        layer.closeAll()
                    }else{
                        //layer.alert('上传图片故障！')
                        layer.closeAll()
                    }
                }
            }
        });
        uploader.start();
    });

</script>
<script>
$(function(){
      $('input[name=type_str]').val($('select[name=type]').find("option:selected").text())
})
function formcheck_2(form){

	var title = $('input[name=title]').val();
	var type = $('select[name=type]').val();
	var pic_url = $('input[name=pic_url]').val();
	
	if(title == ''){
		layer.alert("请输入标题名称");
		return false;
	}

	if(type == '0'){
		layer.alert("请选择类型");
		return false;
	}

	if(pic_url == ''){
		layer.alert("请上传图片");
		return false;
	}
	return true
}

function set_type_str(obj){
    $('input[name=type_str]').val($('select[name=type]').find("option:selected").text())
}

function set_status_str(obj){
    $('input[name=status_str]').val($('select[name=status]').find("option:selected").text())
}
</script>

{% endblock %}

{% block javascript %}
{% endblock %}       
            
	
