{% extends "local.html" %}

{% block html_local %}
<link href="static/web-uploader/css/uploader-image.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/web-uploader/js/Q.js"></script>
<script type="text/javascript" src="static/web-uploader/js/Q.Uploader.js"></script>
<script type="text/javascript" src="static/web-uploader/js/Q.Uploader.UI.Image.js"></script>

<div class="row">
	<div class="form-group">
		<label class="col-sm-3 control-label"><b style="color:#333333;">分类名称:</b></label>
		<div class="col-sm-7">
			<input type="text" class="form-control"  name="cname" value="{{item.cname}}"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label"><b style="color:#333333;">分类类型:</b></label>
		<div class="col-sm-7">
			<input type="text" class="form-control"  name="ctype" value="{{item.ctype}}"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label"><b style="color:#333333;">分类海报:</b></label>
		<div class="col-sm-3">
			<div class="row">
				<div id="container" style="position: relative;">
					<a id="pickfiles"  style="position: relative; z-index: 1;">[选择本地文件]</a>
				</div>
			</div>

		</div>
		<div class="col-sm-6" id="share">
			{% if item.pic %}
				<div class="picsDiv col-sm-3">
					<input type="hidden" name="pic" value="{{item.pic}}"/>
					<img class="col-sm-12" src="{{item.pic}}"/>
					<a href="javascript:" onclick="deletePic(this)">[删除]</a>
				</div>
			{%endif%}
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label"><b style="color:#333333;">分类排序:</b></label>

		<div class="col-sm-7">
			<input type="text" class="form-control"  name="sort" value="{{item.sort}}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label"><b style="color:#333333;">状态:</b></label>

		<div class="col-sm-7">
			<select name="status" class="form-control">
				<option value="0" {{' selected="selected"' if item.status|string == '0'}}>显示</option>
				<option value="1" {{' selected="selected"' if item.status|string == '1'}}>隐藏</option>
			</select>
		</div>
	</div>
</div>

{% endblock %}

{% block page_script %}


<script>
$(function(){
	/*
    $("select").click(function(){
        alert("不用选择，自动读取！");
        return false;
    });*/
})

function setdaytime(obj){return WdatePicker({dateFmt:'yyyy-MM-dd'});}
function formcheck_2(form){

	/*var sp_bh = $('input[name=sp_bh]').val();
	if(money == ''){
		layer.alert("请输入进货价格");
		return false;
	}*/

	return true;
	
}


var ids = new Array("pickfiles");
	var divs = new Array("share");
    var hinames = new Array("pic");

    $.each(ids,function(i,n){
        var self = this.toString();
        //实例化一个plupload上传对象
        var Uploader = Q.Uploader,
        formatSize = Q.formatSize,
        boxView = document.getElementById(""+divs[i]+"")
        var uploader = new Uploader({
            url: '/upload?viewid={{viewid}}&part=Img',
            target: document.getElementById(""+self+""),
            view: boxView,//如果去掉这个，会导致压缩效果不好
            //将auto配置为false以手动上传
            multiple: false,
            auto: true,
            dataType: "json",
            allows: ".jpg,.png,.gif,.bmp,.jpeg",
            upName: "file",
            //图片缩放
            /*scale: {
                //要缩放的图片格式
                types: ".jpg,.png,.jpeg,.bmp",
                //最大图片大小(width|height)
                maxWidth: 500
            },*/
            on: {
                //添加之前触发
                add: function (task) {
                	layer.load()
                    if (task.disabled) return layer.alert("允许上传的文件格式为：" + this.ops.allows);
                },
                upload: function (task) {
                	layer.load()
                },
                complete: function(task){
                    var jsons=task.json;
                    if(jsons){
						$("#"+divs[i]+"").html('');
						var innerDivHtml = '<div class="picsDiv col-sm-3">';
						innerDivHtml+= '<img src="'+ task.json.url  +'" class="col-sm-12">';
						innerDivHtml+= '<input name="'+hinames[i]+'" value="'+ task.json.url+'" type="hidden">';
						innerDivHtml += '<a href="javascript:" onclick="deletePic(this)">[删除]</a>';
						innerDivHtml += '</div>';
						$("#"+divs[i]+"").append(innerDivHtml);
						layer.closeAll()


                    }else{
                        //layer.alert('上传图片故障！')
                        layer.closeAll()
                    }
                }
            }
        });
        uploader.start();
    });
    function deletePic (aObj) {
		$(aObj).parents(".picsDiv").remove();
	}
</script>

{% endblock %}
	
