{% extends "local.html" %}
	
{% block html_local %}
<link href="static/web-uploader/css/uploader-image.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="static/assets/liger/ligerUI/skins/Aqua/css/ligerui-all.css">
<link rel="stylesheet" type="text/css" href="static/assets/liger/ligerUI/skins/Aqua/css/ligerui-layout.css">
<link rel="stylesheet" type="text/css" href="static/assets/liger/ligerUI/skins/Aqua/css/ligerui-grid.css">
<link rel="stylesheet" type="text/css" href="static/assets/liger/ligerUI/skins/Aqua/css/ligerui-common.css">
<script type="text/javascript" src="static/assets/liger/ligerUI/js/core/base.js"></script>
<script type="text/javascript" src="static/assets/liger/ligerUI/js/plugins/ligerTree.js"></script>
<script type="text/javascript" src="static/assets/liger/ligerUI/js/plugins/ligerGrid.js"></script>
<script type="text/javascript" src="static/assets/liger/ligerUI/js/plugins/ligerResizable.js"></script>
<script type="text/javascript" src="static/assets/liger/ligerUI/js/plugins/ligerDialog.js"></script>
<script type="text/javascript" src="static/assets/liger/ligerUI/js/plugins/ligerMenu.js"></script>
<script type="text/javascript" src="static/assets/liger/ligerUI/js/plugins/ligerSpinner.js"></script>
<script type="text/javascript" src="static/assets/liger/ligerUI/js/plugins/ligerDrag.js"></script>
<script type="text/javascript" src="static/assets/liger/ligerUI/js/plugins/ligerFilter.js"></script>
<script type="text/javascript" src="static/assets/liger/ligerUI/js/plugins/ligerToolBar.js"></script>
<script src="static/assets/liger/ligerUI/js/plugins/ligerComboBox.js" type="text/javascript"></script>
<script type="text/javascript" src="static/web-uploader/js/Q.js"></script>
<script type="text/javascript" src="static/web-uploader/js/Q.Uploader.js"></script>
<script type="text/javascript" src="static/web-uploader/js/Q.Uploader.UI.Image.js"></script>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label"><b style="color:#333333;">文章分类:</b></label>
        <div class="col-sm-3">
            {{fllist}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"><b style="color:#333333;">文章标题:</b></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="title" value="{{item.title}}"/>
        </div>
    </div>
	<div class="form-group">
        <label class="col-sm-2 control-label"><b style="color:#333333;">文章类型:</b></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="ctype" value="{{item.ctype}}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"><b style="color:#333333;">简述:</b></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="sketch" value="{{item.sketch}}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"><b style="color:#333333;">文章关键字:</b></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="keywords" value="{{item.keywords}}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"><b style="color:#333333;">推荐:</b></label>
        <div class="col-sm-3">
           <select name="recom" class="form-control">
				<option value="0" {{'selected="selected"' if '0' == item.recom|string}}>否</option>
				<option value="1" {{'selected="selected"' if '1' == item.recom|string}}>是</option>
			</select>
        </div>
    </div>
    <div class="form-group">
		<label class="col-sm-2 control-label"><b style="color:#333333;">分类海报:</b></label>
		<div class="col-sm-3">
			<div class="row">
				<div id="container" style="position: relative;">
					<a id="pickfiles"  style="position: relative; z-index: 1;">[选择本地文件]</a>
				</div>
			</div>

		</div>
		<div class="col-sm-6" id="share">
			{% if item.pic %}
				<div class="picsDiv col-sm-3">
					<input type="hidden" name="pic" value="{{item.pic}}"/>
					<img class="col-sm-12" src="{{item.pic}}"/>
					<a href="javascript:" onclick="deletePic(this)">[删除]</a>
				</div>
			{%endif%}
		</div>
	</div>
    <div class="form-group">
        <label class="col-sm-2 control-label"><b style="color:#333333;">商品:</b></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="goods_id" value="{{item.goods}}" readonly="1"/>
            {{Goods_mselect_mul}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"><b style="color:#333333;">文章排序:</b></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="sort" value="{{item.sort}}"/>
        </div>
    </div>
    <div class="form-group">
		<label class="col-sm-3 control-label"><b style="color:#333333;">状态:</b></label>

		<div class="col-sm-7">
			<select name="status" class="form-control">
				<option value="0" {{' selected="selected"' if item.status|string == '0'}}>显示</option>
				<option value="1" {{' selected="selected"' if item.status|string == '1'}}>隐藏</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">内容:</label>
		<div class="col-sm-6">
			<textarea name="text_contents" class="summernote" id="contents" title="Contents">{{item.contents}}</textarea>
		</div>
		<style>
			.modal-body {
					padding: 20px 30px 30px 30px;

				}
				.modal {
					position: fixed;
					top: 10px;

					display: none;
					overflow: hidden;
					-webkit-overflow-scrolling: touch;
					outline: 0;
					background-color: white;
				}
		</style>
	</div>
</div>

{% endblock %}

{% block page_script %}


<script>
$(document).ready(function () {
        $('.summernote').summernote({
            lang: 'zh-CN',
            height: 300
        });
    });
    var edit = function () {
        $("#eg").addClass("no-padding");
        $('.click2edit').summernote({
            lang: 'zh-CN',
            focus: true
        });
    };
    var save = function () {
        $("#eg").removeClass("no-padding");
        var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
        $('.click2edit').destroy();
    };
    $('.summernote').summernote({
            callbacks: {
                // onImageUpload callback
                onImageUpload: function(files) {
                    //实例化一个plupload上传对象
                    var Uploader = Q.Uploader,
                    formatSize = Q.formatSize,
                    boxView = document.getElementById("nox");
                    var uploader = new Uploader({
                        url: '/upload?viewid={{viewid}}&part=Img',
                        target:document.getElementById("upload-s"),
                        view: boxView,//如果去掉这个，会导致压缩效果不好
                        //将auto配置为false以手动上传
                        auto: false,
                        dataType: "json",
                        allows: ".jpg,.png,.gif,.bmp,.jpeg",
                        upName: "file",
                        //图片缩放
                        /*scale: {
                            //要缩放的图片格式
                            types: ".jpg,.png,.jpeg,.bmp",
                            //最大图片大小(width|height)
                            maxWidth: 500
                        },*/
                        on: {
                            //添加之前触发
                            add: function (task) {
                                layer.load()
                                if (task.disabled) return layer.alert("允许上传的文件格式为：" + this.ops.allows);
                            },
                            upload: function (task) {
                                layer.load()
                            },
                            complete: function(task){
                                var jsons=task.json;
                                if(jsons){
                                    $('.summernote').summernote('insertImage', jsons.url,'img');
                                    layer.closeAll()
                                }else{
                                    layer.msg('上传图片故障！')
                                    layer.closeAll()
                                }
                            }
                            }
                        });

                    for (var i=0;i<files.length;i++)
                    {
                        uploader.add(files[i]);
                        uploader.start();
                    }
                }
            }
        });

function formcheck_2(form){
	var sp_bh = $('input[name=sp_bh]').val();
	var num = $('input[name=num]').val();
	var money = $("input[name=money]").val();
	var in_date = $("input[name=in_date]").val();

	if(sp_bh == ''){
		layer.alert("请选择商品");
		return false;
	}
	if(num == ''){
		layer.alert("请输入数量");
		return false;
	}
	if(money == ''){
		layer.alert("请输入进货价格");
		return false;
	}
	if(in_date == ''){
		layer.alert("请输入进货日期");
		return false;
	}
	return true;
	
}



var ids = new Array("pickfiles");
	var divs = new Array("share");
    var hinames = new Array("pic");

    $.each(ids,function(i,n){
        var self = this.toString();
        //实例化一个plupload上传对象
        var Uploader = Q.Uploader,
        formatSize = Q.formatSize,
        boxView = document.getElementById(""+divs[i]+"")
        var uploader = new Uploader({
            url: '/upload?viewid={{viewid}}&part=Img',
            target: document.getElementById(""+self+""),
            view: boxView,//如果去掉这个，会导致压缩效果不好
            //将auto配置为false以手动上传
            multiple: false,
            auto: true,
            dataType: "json",
            allows: ".jpg,.png,.gif,.bmp,.jpeg",
            upName: "file",
            //图片缩放
            /*scale: {
                //要缩放的图片格式
                types: ".jpg,.png,.jpeg,.bmp",
                //最大图片大小(width|height)
                maxWidth: 500
            },*/
            on: {
                //添加之前触发
                add: function (task) {
                	layer.load()
                    if (task.disabled) return layer.alert("允许上传的文件格式为：" + this.ops.allows);
                },
                upload: function (task) {
                	layer.load()
                },
                complete: function(task){
                    var jsons=task.json;
                    if(jsons){
						$("#"+divs[i]+"").html('');
						var innerDivHtml = '<div class="picsDiv col-sm-3">';
						innerDivHtml+= '<img src="'+ task.json.url  +'" class="col-sm-12">';
						innerDivHtml+= '<input name="'+hinames[i]+'" value="'+ task.json.url+'" type="hidden">';
						innerDivHtml += '<a href="javascript:" onclick="deletePic(this)">[删除]</a>';
						innerDivHtml += '</div>';
						$("#"+divs[i]+"").append(innerDivHtml);
						layer.closeAll()


                    }else{
                        //layer.alert('上传图片故障！')
                        layer.closeAll()
                    }
                }
            }
        });
        uploader.start();
    });
    function deletePic (aObj) {
		$(aObj).parents(".picsDiv").remove();
	}
</script>

{% endblock %}
	
