{% extends "local.html" %}
	
{% block html_local %}
<table class="table">
	<tr>
		<td colspan="6">
			<div id="form2"></div>
		</td>
	</tr>
	<tr>
	</tr>
	<tr>
		<td width="100">
			<label for="">连续签到:</label>
		</td>
		<td width="250">
			<input type="text" class="form-control"  name="continuous" value="{{item.continuous or 1}}"  />&emsp;天
		</td>


	</tr>
	<tr>
		<td width="100">
			<label for="">积分:</label>
		</td>
		<td >
			<input type="text" class="form-control"  name="score" value="{{item.score or 1}}"  />
		</td>

	</tr>







	

<!--
	<tr>
		<td>
			<label for="">选择部门</label>
		</td>
		<td>
			<select name="dept_id" class="form-control">
				{% for d in deptlist %}
				<option value="{{d[0]}}"{{d[2]}}>{{d[1]}}</option>
				{% endfor %}
			</select>
		</td>
	</tr>
-->
	
</table>


{% endblock %}

{% block page_script %}


<script>
$(function(){
    $("select").click(function(){
        alert("不用选择，自动读取！");
        return false;
    });   
})

function setdaytime(obj){return WdatePicker({dateFmt:'yyyy-MM-dd'});}
function formcheck_2(form){

	var sp_bh = $('input[name=sp_bh]').val();
	var num = $('input[name=num]').val();
	var money = $("input[name=money]").val();
	var in_date = $("input[name=in_date]").val();

	if(sp_bh == ''){
		layer.alert("请选择商品");
		return false;
	}
	if(num == ''){
		layer.alert("请输入数量");
		return false;
	}
	if(money == ''){
		layer.alert("请输入进货价格");
		return false;
	}
	if(in_date == ''){
		layer.alert("请输入进货日期");
		return false;
	}

	return true;
	
}
</script>

{% endblock %}
	
