{% extends "list.html" %}



{% block topSearch %}
<button class="btn btn-info btn-sm" type="button" onclick="layer_add()"><i class="fa fa-plus"></i> 增加标签</button>
{% endblock %}

{% block mGrid %}
<table class="table table-bordered">
    <thead>
        <tr style="background-color:#e5e5e5" bgcolor="#ffffff">

            {%for n in NL[1:]%}
            <th style="text-align:{{n[3]}};width:{{n[2]}};">{{n}}</th>
            {%endfor%}

        </tr>
    </thead>

    <tbody>
        {% for row in dataList %}
        <tr bgcolor="#ffffff">

            {% for e in row[1:] %}
                 <td>{{e}}</td>

            {% endfor %}
            <td style="text-align:center;">
                {% if lR[1] == '' %}
                <a class="btn btn-xs btn-info" onclick="main_update({{row[0]}})" title="编辑"><i class="fa fa-edit"></i></a>
                {% endif %}
                 {% if lR[2] == '' %}
                <a  class="btn btn-xs btn-warning" onclick="ajax_delete({{row[0]}});" title="删除"><i class="fa fa-trash-o"></i></a>
                {% endif %}

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block page_script %}
<script>
    function layer_add(){
            var url = "/admin?viewid=B002&&part=tag_add";
            content_html='<div class="col-sm-10"><div class="form-group">';
            content_html+='<label class="col-sm-5 control-label"><b style="color:#333333;">标签名称:</b></label>';
            content_html+='<div class="col-sm-5">';
            content_html+=' <input type="text" class="form-control"  name="ctitle" value=""/>';
            content_html+=' </div></div></div><div class="col-sm-10"><div class="form-group">';
            content_html+='<label class="col-sm-5 control-label"><b style="color:#333333;">是否默认添加标签:</b></label>';
            content_html+=' <div class="col-sm-4"><select name="status"  class="form-control">';
            content_html+=' <option value="0">否</option>';
            content_html+='<option value="1">是</option>';
            content_html+='</select></div></div></div>';
            layer.open({
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['35rem;', '20rem;'], //宽高
                content: content_html,
                title: "增加标签",
                btn: ['提交']
                ,yes: function(index, layero){
                   var ctitle = $('input[name=ctitle]').val();
                   var status = $('select[name=status]').val();

                   $.ajax({
                        url:"admin?viewid=B002&part=save_tag&ctitle="+ctitle+"&status="+status,
                        async:false,
                        success: function(data){
                            layer.close(index);
                            layer.msg(data.MSG);
                            location.reload();
                        }
                    });
                 }
            });
        }

</script>
{% endblock %}


