{% extends "list.html" %}


{% block topSearch %}
<button type="button" class="btn btn-success btn-sm" onclick="layer_add()"><i class="fa fa-plus"></i> 增加规格</button>
{% endblock %}

{% block mGrid %}
<link href="static/web-uploader/css/uploader-image.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/web-uploader/js/Q.js"></script>
<script type="text/javascript" src="static/web-uploader/js/Q.Uploader.js"></script>
<script type="text/javascript" src="static/web-uploader/js/Q.Uploader.UI.Image.js"></script>
<table class="table table-bordered">
    <thead>
        <tr style="background-color:#e5e5e5" bgcolor="#ffffff">

            {%for n in NL[1:]%}
            <th style="text-align:{{n[3]}};width:{{n[2]}};">{{n}}</th>
            {%endfor%}
            <th style="text-align:center">管理</th>
        </tr>
    </thead>

    <tbody>
        {% for row in dataList %}
        <tr bgcolor="#ffffff">

            {% for e in row[1:] %}
            {% if loop.index==3%}
            <td >
                {% if e %}
                <img src="{{e}}" style="width:50px;height:50px;"/>
                {% else %}
                -
                {% endif %}
            </td>
            {% elif loop.index==6%}
            <td >
                <a class="btn btn-xs btn-info" onclick="main_update({{row[0]}})" title="编辑"><i class="fa fa-edit"></i></a>
            </td>
            {% else%}
            <td >{{e}}</td>
            {%endif%}
            {% endfor %}
            <td style="text-align:center;">
                {% if lR[1] == '' %}
                <a class="btn btn-xs btn-info" onclick="ajax_update({{row[0]}})" title="编辑"><i class="fa fa-edit"></i></a>
                {% endif %}
                {% if lR[2] == '' %}
                <a  class="btn btn-xs btn-warning" onclick="ajax_delete({{row[0]}});" title="删除"><i class="fa fa-trash-o"></i></a>
                {% endif %}

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block page_script %}
<script>
    function ajax_update(id){

			$.ajax({
				url:sUrl+"&part=ajax_update&pk="+id,
				async:false,
				success: function(data){
					itemdata=data.data
				}
			});
            content_html='<form id="tf"><input type="hidden" name="id" value="'+id+'">';
            content_html+='<div class="col-sm-10">';
            content_html+='<label class="col-sm-4 control-label"><b style="color:#333333;">规格名称:</b></label>';
            content_html+='<div class="col-sm-6">';
            content_html+=' <input type="text" class="form-control"  name="cname" value="'+itemdata.cname+'"/>';
            content_html+=' </div></div><br><br>';
            content_html+='<div class="col-sm-10">';
            content_html+='<label class="col-sm-4 control-label"><b style="color:#333333;">规格类型:</b></label>';
            content_html+=' <div class="col-sm-6">';
            content_html+=' <input type="text" class="form-control"  name="ctype" value="'+itemdata.ctype+'"/>';
            content_html+='</div></div><br><br>';
            content_html+='<div class="col-sm-10">';
            content_html+='<label class="col-sm-4 control-label"><b style="color:#333333;">规格图标:</b></label>';
            content_html+=' <div class="col-sm-8">';
            content_html+=' <input type="file" accept="image/*" class="form-control" name="cicon" id="cicon" onchange="addFiles();"/>';
            content_html+='</div></div><br><br>';
             content_html+='<div class="col-sm-10"><div class="col-sm-5" style="float:right;">';
            content_html+='<img src="'+itemdata.cicon+'" id="icon" class="col-sm-12" />';
            if(itemdata.cicon!=''){
                content_html+='<a href="javascript:" onclick="deletePic()">[删除]</a>';
            }
            content_html+='<input type="hidden" name="url" value="'+itemdata.cicon+'"/>';
            content_html+='</div></div><br><br>';
            content_html+='<div class="col-sm-10">';
            content_html+='<label class="col-sm-4 control-label"><b style="color:#333333;">排序:</b></label>';
            content_html+=' <div class="col-sm-6">';
            content_html+=' <input type="number" class="form-control"  name="sort" value="'+itemdata.sort+'"/>';
            content_html+='</div></div>';
            content_html+='<script>function addFiles(){var file = document.getElementById("cicon").files[0];';
            content_html+='var reader = new FileReader();reader.readAsDataURL(file);';
            content_html+='reader.onload=function(e){$("#icon").get(0).src = e.target.result;';
            content_html+='uploader.add(file);uploader.start();}}';
            content_html+='function deletePic(){$("#icon").get(0).src="";$("input[name=url]").val("");}';
            content_html+='<\/script>';
            content_html+='</form>';


            layer.open({
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['40rem;', '35rem;'], //宽高
                content: content_html,
                title: "修改类型",
                btn: ['提交']
                ,yes: function(index, layero){
                   var cname = $('input[name=cname]').val();
                   var ctype = $('input[name=ctype]').val();
                   var sort = $('input[name=sort]').val();
				   if(cname==''){
				   		layer.msg('规格名称不能为空！')
				   		return false;
				   }

				   var form = new FormData(document.getElementById("tf"));
				   $.ajax({
                        url:"admin?viewid=C002&part=save_type",
                        type:"post",
                        data:form,
                        processData:false,
                        contentType:false,
                        success:function(data){
                            if (data.code=='0'){

                                layer.close(index);
                                layer.msg(data.MSG);
                                setTimeout(location.reload(), 3000);
                            }else{
                                layer.msg(data.MSG);
                            }
                        }
                    });

                 }
            });
        }

       function layer_add(){
            content_html='<form id="tf"><input type="hidden" name="id" value="0">';
            content_html+='<div class="col-sm-10">';
            content_html+='<label class="col-sm-4 control-label"><b style="color:#333333;">规格名称:</b></label>';
            content_html+='<div class="col-sm-6">';
            content_html+=' <input type="text" class="form-control"  name="cname" value=""/>';
            content_html+=' </div></div><br><br>';
            content_html+='<div class="col-sm-10">';
            content_html+='<label class="col-sm-4 control-label"><b style="color:#333333;">规格类型:</b></label>';
            content_html+=' <div class="col-sm-6">';
            content_html+=' <input type="text" class="form-control"  name="ctype" value=""/>';
            content_html+='</div></div><br><br>';
            content_html+='<div class="col-sm-10">';
            content_html+='<label class="col-sm-4 control-label"><b style="color:#333333;">规格图标:</b></label>';
            content_html+=' <div class="col-sm-8">';
            content_html+=' <input type="file" accept="image/*" class="form-control" name="cicon" id="cicon" onchange="addFiles();"/>';
            content_html+='</div></div><br><br>';
             content_html+='<div class="col-sm-10"><div class="col-sm-5" style="float:right;">';
            content_html+='<img src="" id="icon" class="col-sm-12" />';
            content_html+='<input type="hidden" name="url" value=""/>';
            content_html+='</div></div><br><br>';
            content_html+='<div class="col-sm-10">';
            content_html+='<label class="col-sm-4 control-label"><b style="color:#333333;">排序:</b></label>';
            content_html+=' <div class="col-sm-6">';
            content_html+=' <input type="number" class="form-control"  name="sort" value=""/>';
            content_html+='</div></div>';
            content_html+='<script>function addFiles(){var file = document.getElementById("cicon").files[0];';
            content_html+='var reader = new FileReader();reader.readAsDataURL(file);';
            content_html+='reader.onload=function(e){$("#icon").get(0).src = e.target.result;';
            content_html+='uploader.add(file);uploader.start();}}';
            content_html+='<\/script>';
            content_html+='</form>';


            layer.open({
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['40rem;', '35rem;'], //宽高
                content: content_html,
                title: "增加类型",
                btn: ['提交']
                ,yes: function(index, layero){
                   var cname = $('input[name=cname]').val();
                   var ctype = $('input[name=ctype]').val();
                   var sort = $('input[name=sort]').val();
				   if(cname==''){
				   		layer.msg('规格名称不能为空！')
				   		return false;
				   }

				   var form = new FormData(document.getElementById("tf"));

				   $.ajax({
                        url:"admin?viewid=C002&part=save_type",
                        type:"post",
                        data:form,
                        processData:false,
                        contentType:false,
                        success:function(data){
                            if (data.code=='0'){
                                layer.close(index);
                                layer.msg(data.MSG);
                                setTimeout(location.reload(), 3000);
                            }else{
                                layer.msg(data.MSG);
                            }
                        }
                    });

                 }
            });
        }

    var Uploader = Q.Uploader,
    formatSize = Q.formatSize,
    boxView = document.getElementById("nox");
    var uploader = new Uploader({
    url: '/upload?viewid={{viewid}}&part=Img',
    target:document.getElementById("upload-s"),
    view: boxView,//如果去掉这个，会导致压缩效果不好
    //将auto配置为false以手动上传
    auto: false,
    dataType: "json",
    allows: ".jpg,.png,.bmp,.jpeg",
    upName: "file",
    //图片缩放
    /*scale: {
        //要缩放的图片格式
        types: ".jpg,.png,.jpeg,.bmp",
        //最大图片大小(width|height)
        maxWidth: 100
    },*/
    on: {
        //添加之前触发
        add: function (task) {
            if (task.disabled) return layer.alert("允许上传的文件格式为：" + this.ops.allows);
        },
        upload: function (task) {

        },
        complete: function(task){
            var jsons=task.json;
            if(jsons){
                if (jsons.url!=''){
                    $('input[name=url]').val(jsons.url)
                }
            }else{
                layer.msg('上传图片故障！')

            }
        }
        }
    });


</script>
{% endblock %}
