{% extends "base_local.html" %}
	
{% block html_local %}
<style>
.btn-file {  /*  上传按钮*/
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    rightright: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: rightright;
    filter: alpha(opacity = 0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>
<table class="tb single-table" style="width:80%">
	<tr>
		<td width="90">
			<label>发布单号</label>

		</td>
		<td>
			{% if hidden.mode == 'add'%}自动生成{%else%}{{item.v_code}}{%endif%}
		</td>
	</tr>
	<tr>
		<td width="90">
			<label>活动名称</label>
		</td>
		<td colspan="3">
			<input type="text" class="form-control" style="width:650px;" name="cname" value="{{item.cname}}" maxlength="60"/>
		</td>
	</tr>
	<tr>
		<td width="100">
			<label>是否开启</label>
		</td>
		<td >
			<input type="checkbox" name="cstatus" {%if item.cstatus==1%}checked="checked"{%endif%} value="1"/>
		</td>
		<td width="100">
			<label>可抢次数</label>
		</td>
		<td>
			<input type="number" class="form-control" name="daytimes" value="{{item.daytimes}}"/>&nbsp;<font style="color:#ff0000;">本次活动每人可抢次数，最大填写为10</font>
		</td>
		
	</tr>

	<tr>
		
		<td width="100">
			<label>过期时限</label>
		</td>
		<td>
			<input type="number" class="form-control" name="times" value="{{item.times or 15}}"/>&nbsp;<font style="color:#ff0000;">分钟（抢到未下单过期时限）</font>
		</td>
		
	</tr>

	<tr>
		<td width="100">
			<label>开始时间</label>
		</td>
		<td>
			<input type="text" class="form-control" onCLick = "setdatetime(this)" name="btime" value="{{item.btime}}" readonly="readonly"/>
		</td>
		<td width="90">
			<label>结束时间</label>
		</td>
		<td>
			<input type="text" class="form-control" onCLick = "setdatetime(this)" name="etime" value="{{item.endtime}}" readonly="readonly"/>
		</td>
		
	</tr>
	
	<tr>
		<td width="100">
			<label>活动说明</label>
		</td>
		<td colspan="3">
			<textarea class="form-control" style="width:650px;" rows = '10' name="memo"  placeholder="请输入300字内活动说明"maxlength="600"/>{{item.memo}}</textarea>
		</td>
	</tr>
	
</table>
<section class="panel panel-default">
	<div class="title_comm"><span class="block_blue"></span><b style="color:#333333;">抢购明细表</b>
	<input type="hidden" name="SelRow" value="">
	<img src="../static/assets/images/add.png" onclick="addtr()" style="width:22px;height:22px;float:right;">

	</div>
		<table id = "matListTable" class="list-table detail-list-tb" cstyle="width:80%">
		<thead>
			<tr>
				<th width="9%" style="text-align:center;">
					<label>商品ID</label>
				</th>

				<th width="30%" style="text-align:center;">
					<label>商品名称</label>
				</th>
				<th width="10%" style="text-align:center;">
					数量
				</th>
				<th width="10%" style="text-align:center;">
					<label>单价</label>
				</th>
				<th width="6%" style="text-align:center;">
					<label>排名起始</label>
				</th>
				<th width="6%" style="text-align:center;">
					<label>排名结束</label>
				</th>
			</tr>
		</thead>
		<tbody class="add_list">
			{% if hidden.mode == 'add' and hidden.pk == '' %}
				<tr class="clone list-tr">
		
					<td width="6%">
						<input type="hidden" name="id" value="">
						<input type="text" class="form-control"  name="gid" value="" readonly="readonly" onClick="SelectRows(this)" style="width:120px;" placeholder="点击选择商品"/>
					</td>

					<td width="30%">
						<input type="text" class="form-control"  name="itname" value=""  style="width:320px;" readonly="readonly"/>
					</td>
					<td width="10%">
						<input type="number" class="form-control"  name="amount" value="0" onkeyup="calpm();" onblur="calpm();" style="width:150px;text-align:right;"/>
					</td>
					<td width="10%">
						<input type="text" class="form-control"  name="price" value="0"  onKeyup="onlyNum_test(event,this)" style="width:150px;text-align:right;"/>
					</td>
					<td width="6%">
						<input type="number" class="form-control"  name="pmb" value="0"  readonly="readonly"  style="width:100px;text-align:right;"/>
					</td>
					<td width="6%">
						<input type="number" class="form-control"  name="pme" value="0"  readonly="readonly"  style="width:100px;text-align:right;"/>
					</td>
				</tr>
			{% else %}
				{% for e in itemlist%}
				<tr {%if loop.index0 == 0 %} class="clone list-tr"{%else%}class="list-tr" {%endif%} >
					<td width="6%">
						<input type="hidden" name="id" value="{{e[0]}}">
						<input type="text" class="form-control"  name="gid" value="{{e[1]}}" readonly="readonly" style="width:120px;" {% if item.cstime ==''%}onClick="SelectRows(this)"{%endif%} />
					</td>

					<td width="30%">
						<input type="text" class="form-control"  name="itname" value="{{e[2]}}" style="width:320px;" {% if item.cstime !=''%}readonly="readonly"{%endif%}/>
					</td>
					<td width="10%">
						<input type="number" class="form-control"  name="amount" value="{{e[3]}}" onkeyup="calpm();" onblur="calpm();"  style="width:150px;" {% if item.cstime !=''%}readonly="readonly"{%endif%}/>
					</td>
					<td width="10%">
						<input type="text" class="form-control"  name="price" value="{{e[4]}}"  style="width:150px;" onKeyup="onlyNum_test(event,this)" />
					</td>
					<td width="6%">
						<input type="number" class="form-control"  name="pmb" value="{{e[5]}}"  readonly="readonly"  style="width:100px;text-align:right;"/>
					</td>
					<td width="6%">
						<input type="number" class="form-control"  name="pme" value="{{e[6]}}"  readonly="readonly"   style="width:100px;text-align:right;"/>
					</td>
				</tr>
				{% endfor%}
		   {%endif%}
	
		</tbody>
	</table>
</section>
{{Rmselect}}
{% endblock %}

{% block page_script %}
<script>
function setdatetime(obj){
	return WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'});
}
function formcheck_2(form){
	cstatus =  $('input[name="cstatus"]').is(":checked");
	amount = $('input[name="daytimes"]').val();
	times = $('input[name="times"]').val();
	btime = $('input[name="btime"]').val();
	etime = $('input[name="etime"]').val();

	if (cstatus)
    {	
		if (amount == '' || amount <=0)
		{
			layer.alert('请填写可抢次数');
			return false;
		}
		if (amount >10)
		{
			layer.alert('可抢次数限制为最大10次');
			return false;
		}
		if (times == '' || times <=0)
		{
			layer.alert('请填写正确的过期时限');
			return false;
		}

		if (btime == '' || etime == '' )
		{
			layer.alert('请填写完整活动时间');
			return false;
		}
		if (btime > etime)
		{	
			layer.alert('开始时间不能大于结束时间');
			return false;
		}
		
		$("#matListTable .list-tr").each(
			function(){
				var amount1 = $(this).find("input[name=amount]").eq(0).val();
				if (amount1 < 0 )
				{
					layer.alert("数量不能小于0");
				}
			}
		);

    }
	return true;
}

function addtr(){
	var tr = $(".detail-list-tb").find(".clone").clone();
	tr.removeClass("clone").removeClass("active").addClass("paste");
	tr.find("input").val('');
	tr.find("option").removeAttr("selected");
	tr.find("input[name=gid]").attr("onclick","SelectRows(this)");
	tr.find("input[name=amount]").removeAttr("readonly");
	tr.find("input[name=amount]").val("0");
	tr.find("input[name=price]").removeAttr("readonly");
	tr.find("input[name=price]").val("0");
	tr.find("input[name=pmb]").val("0");
	tr.find("input[name=pme]").val("0");
	tr.click(function(){
		$(".detail-list-tb .list-tr").removeClass("active");	
		$(this).addClass("active");
		$("input[name=SelRow]").val(parseInt($(this).index()));
	});
	$(".detail-list-tb").append(tr);
}

function deltr(){
	if ($("input[name=SelRow]").val() == 0)
	{
		layer.alert("此行不能删除！");
	}
	if($(".detail-list-tb .list-tr .active").length == 0){
		layer.alert("请先选择要删去的列");
		return;
	}
	if ($(".detail-list-tb .list-tr").length == 1)
	{
		layer.alert("明细至少要保留一列数据");
		return;
	}
	$(".detail-list-tb .list-tr.active").remove();
}

function SelectRows(obj){
	tr = $(obj).parent().parent();
	tr_index = tr.index();
	$("input[name=SelRow]").val(tr_index);
		rt_loadUsersList('');
	
}

function calpm(){
	var bgvl = 0;
	var egvl = 0;
	var yz = 0
	$("#matListTable .list-tr").each(
		function(){
			var amount = $(this).find("input[name=amount]").eq(0).val();
			if (amount == '')
			{ amount = 0;
			}
			bgvl =parseInt(egvl)+1;
			if(egvl== 0 && amount== 0){
				bgvl = 0;
			}
			$(this).find("input[name=pmb]").val(bgvl);
			egvl =parseInt(egvl)+parseInt(amount);
			$(this).find("input[name=pme]").val(egvl);
		}
	);
}

$(function(){
	$(".detail-list-tb .list-tr").click(function(){
		$(".detail-list-tb .list-tr").removeClass("active");	
		$(this).addClass("active");
		$("input[name=SelRow]").val(parseInt($(this).index()));
	});
}
)
</script>

{% endblock %}
{% block javascript %}
{% endblock %}       
            
