{% extends "base_list.html" %}


{% block topSearch %}
<table class="table table-bordered tb searchtbl">
	<tbody>
		<tr>
			<th style="font-size:14px;width:8%;text-align:center;" >开启状态</th> 
			<td style="font-size:14px;border-right:0px;">
			<select style="margin-left:20px;margin-right:30px;width:150px;" class="form-control" name="zszt" onchange="this.form.pageNo.value=1;this.form.submit();">
			{% for row in zszt %}
			    <option value="{{row[0]}}" {{row[2]}}>{{row[1]}}</option>
            {% endfor %}
			</select>
			</td>


			<th style="font-size:14px;width:8%;text-align:center;border-right:0px;border-left:0px;" ></th>
            <td style="font-size:14px;border-left:0px;">			
			
            </td>
        </tr>
        <tr>
			<td style="border-right:0px;" colspan="3">
				<div class="input-group">
					<input type="text" class="form-control" name="qqid" value="{{qqid}}" placeholder="请输入关键字"/>
					<span class="input-group-btn">
					<button class="btn btn-default" type="button" onclick="main_search()"><i class="fa fa-search"></i> 搜索</button>
					</span> 
				</div>
			</td>
			<td style="border-left:0px;" colspan="3">
				{% if lR[0] != '1' %}
					<button type="button" class="btn btn-success btn-sm" onclick="main_add()"><i class="fa fa-plus"></i> 增加</button>
				{% endif %}
			</td>
		</tr>
		<tr class="search-submit" colspan="4">
			<td colspan="4">
				{% if lR[0] != '1' %}
				 {% if zsztval == '1' %}
					<button type="button" class="btn btn-danger btn-sm" onclick="lotstop()"><i class="fa fa-lock"></i> 选择关闭</button>
				 {% elif zsztval == '2' %}
					<button type="button" class="btn btn-info btn-sm" onclick="lotstar()"><i class="fa fa-unlock"></i> 选择开启</button>
				 {% endif %}
				{% endif %}
			</td>
		 </tr>
	</tbody>
</table>
{% endblock %}
 
{% block mGrid %}
						<table class="table table-bordered">
							<thead>
								<tr style="background-color:#e5e5e5" bgcolor="#ffffff">
								    <th width="" style="text-align:center;width:60px;">全选<input type="checkbox" name="" value=""></th>
									{%for n in NL%}
									<th style="text-align:center;width:{{n[2]}};">{{n[0]}}</th>
									{%endfor%}
									<th style="text-align:center">操作</th>
								</tr>
							</thead>

							<tbody>
								{% for row in dataList %}
								<tr bgcolor="#ffffff">
								    <td style="text-align:center;"><input type="checkbox" name="item_id" value="{{row[0]}}"></td>
									{% for e in row %}
										{% if loop.index0 in (0,1,2,3) %}
											<td style="text-align:{{NL[loop.index0][3]}};"><a href="#" onClick="main_view('{{row[0]}}')">{{e}}</a></td>
										{% elif loop.index0 == 5 %}
											<td style="text-align:{{NL[loop.index0][3]}};">{% if e == 1%}<span class="label label-success">已开启</span>{%elif e== 2%}<span class="label label-default">已结束</span>{%else%}<span class="label label-info">未开启</span>{% endif %}</td>
										{% else %}
											<td style="text-align:{{NL[loop.index0][3]}};">{{e}}</td>
										{% endif %}
									{% endfor %}
									<td style="text-align:center;width:70px;">
										{% if lR[1] == '' %}
										<a  onclick="main_update('{{row[0]}}')" title="编辑"><img src="static/assets/images/edit.png" ><img></a>
										{% endif %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
{% endblock %}

	
{% block page_script %}
<script>
$(function(){
	$("input[name=pk]").val('');
	$("input[name=part]").val('main');
});

function lotstop(){
   var item_id_list = $('input[name=item_id]:checked').val();
	if($('input[name=item_id]:checked').length==0){
	   layer.alert('请勾选一个活动再进行操作');
	   return false;
	}
	if($('input[name=item_id]:checked').length>1){
	   layer.alert('请勾选一个活动进行操作');
	   return false;
	}

	url = 'admin?viewid=C002&part=lotstop&item_id_list='+item_id_list
	$.get(url,function(data){
	   layer.msg('关闭成功');
	   window.setTimeout(function(){
         location.reload();	   
	   },'1000');
	},'json')
}

function lotstar(){
    var item_id_list = $('input[name=item_id]:checked').val();
	if($('input[name=item_id]:checked').length==0){
	   layer.alert('请勾选一个活动再进行操作');
	   return false;
	}
	if($('input[name=item_id]:checked').length>1){
	   layer.alert('请勾选一个活动进行操作');
	   return false;
	}
	url = 'admin?viewid=C002&part=lotstar&item_id_list='+item_id_list
	$.get(url,function(data){
		 if (data == 1)
		  {
			
		   layer.msg('开启成功');
		   window.setTimeout(function(){
					location.reload();	   
				 },'1000');
		  }
		  else if (data == 3)
		  {
			  layer.msg('开启失败，数据未填写完整');
		  }
		  else{
			 layer.msg('开启失败，已存在活动');
		  }
		},'json')
	}
</script>
{% endblock %}
