{% extends "base_list.html" %}


{% block topSearch %}
<table class="table table-bordered tb searchtbl">
	<tbody>
        <tr>
			<td style="border-right:0px;" colspan="3">
				<div class="input-group">
					<input type="text" class="form-control" name="qqid" value="{{qqid}}" placeholder="请输入关键字"/>
					<span class="input-group-btn">
					<button class="btn btn-default" type="button" onclick="main_search()"><i class="fa fa-search"></i> 搜索</button>
					</span> 
				</div>
			</td>
			<td style="border-left:0px;" colspan="3">
				&nbsp;
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}
 
{% block mGrid %}
						<table class="table table-bordered">
							<thead>
								<tr style="background-color:#e5e5e5" bgcolor="#ffffff">
									{%for n in NL%}
									<th style="text-align:center;width:{{n[2]}};">{{n[0]}}</th>
									{%endfor%}
									<th style="text-align:center">操作</th>
								</tr>
							</thead>

							<tbody>
								{% for row in dataList %}
								<tr bgcolor="#ffffff">
									{% for e in row %}
										{% if loop.index0 in (0,1,2,3,4,5) %}
											<td style="text-align:{{NL[loop.index0][3]}};"><a href="#" onClick="main_view('{{row[0]}}')">{{e}}</a></td>
										{% elif loop.index0 == 6 %}
											<td style="text-align:{{NL[loop.index0][3]}};">
												{% if e == '已过期' %}
													<span class="label label-danger">已过期</span>
												{% elif e == '活动期'%}
													<span class="label label-success">活动期</span>
												{% elif e == '未开始'%}
													<span class="label label-warning">未开始</span>
												{% else %}
													<span class="label label-info">未开始</span>
												{% endif %}</td>
										{% elif loop.index0 == 7 %}
											<td style="text-align:{{NL[loop.index0][3]}};">{% if e == 1%}<span class="label label-success">已开启</span>{%elif e== 2%}<span class="label label-default">已结束</span>{%else%}<span class="label label-info">未开启</span>{% endif %}</td>
										{% else %}
											<td style="text-align:{{NL[loop.index0][3]}};">{{e}}</td>
										{% endif %}
									{% endfor %}
									<td style="text-align:center;width:70px;">
										{% if lR[1] == '' %}
										<a  onclick="main_view('{{row[0]}}')" title="编辑"><img src="asset/images/edit.png" ><img></a>
										{% endif %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
{% endblock %}

	
{% block page_script %}
<script>
$(function(){
	$("input[name=pk]").val('');
	$("input[name=part]").val('main');
});

</script>
{% endblock %}
