{% extends "base_local.html" %}
{% block html_local %}
<style>
.btn-file {  /*  上传按钮*/
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    rightright: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: rightright;
    filter: alpha(opacity = 0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.panel .table td, .panel .table th {
    padding: 3px 7px;
    border-top: 1px solid #f1f1f1;
	vertical-align: middle;
}
</style>
<div class="title_comm"><span class="block_blue"></span><b style="color:#333333;">活动单号：{{item.v_code}}<br>活动名称:{{item.cname}}</b></div>
<table class="table tb searchtbl">
	<tbody>
        <tr>
			<td style="border-right:0px;" colspan="3">
				<div class="input-group">
					<input type="text" class="form-control" name="sqqid" value="{{sqqid}}" placeholder="请输入编号/姓名/手机号"/>
					<span class="input-group-btn">
					<button class="btn btn-default" type="button" onclick="local_search()"><i class="fa fa-search"></i> 搜索</button>
					</span> 
				</div>
			</td>
			<td style="border-left:0px;" colspan="3">
				&nbsp;
			</td>
		</tr>
	</tbody>
</table>
<table class="table table-bordered">
	<thead>
		<tr style="background-color:#e5e5e5" bgcolor="#ffffff">
			{%for n in NL%}
				<th style="text-align:{{n[2]}};width:{{n[1]}};">{{n[0]}}</th>
			{%endfor%}
		</tr>
		</thead>
	<tbody>
			{% for row in itemlist %}
				<tr bgcolor="#ffffff">
					<td style="text-align:center;">{{row[0]}}</td>
					<td style="text-align:left;">{{row[1]}}</td>
					<td style="text-align:left;">{{row[2]}}</td>
					<td style="text-align:left;"><div style="max-width:500px;display:inline-block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;" title="{{row[3]}}">{{row[3]}}</div></td>
					<td style="text-align:left;">{{row[4]}}</td>
					<td style="text-align:center;">
						{% if lR[0]|string  != '1' %}
							{% if row[5]|string == '1' %}
								<a  onclick="main_do({{row[0]}},'stopsale','删除 {{row[1]}} ')" title="删除"><img src="asset/images/del.png" ><img></a>
							 {% else%}
								<a  onclick="main_do({{row[0]}},'cansale','继续生效 {{row[1]}} ');" title="生效"><img src="asset/images/recall.png" ><img></a>
							 {% endif %}
						{% endif %}
					</td>
				<tr>
			{% endfor %}
			</tbody>
</section>

{% endblock %}

{% block page_script %}
<script>
function setdatetime(obj){
	return WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'});
}
function setdate(obj){
	return WdatePicker({dateFmt:'yyyy-MM-dd'});
}
function formcheck(form){
	return true;
}
function local_search(){
	$("form[name=frmMain]")[0].submit(); 
	return true;
}

function addtr(){
	var tr = $(".detail-list-tb").find(".clone").clone();
	tr.removeClass("clone").removeClass("active").addClass("paste");
	tr.find("input").val('');
	tr.find("option").removeAttr("selected");
	tr.find("input[name=itname]").removeAttr("readonly");
	tr.find("input[name=amount]").removeAttr("readonly");
	$(tr.find("td")[8]).html('&nbsp;');
	tr.click(function(){
		$(".detail-list-tb .list-tr").removeClass("active");	
		$(this).addClass("active");
		$("input[name=SelRow]").val(parseInt($(this).index()));
	});
	$(".detail-list-tb").append(tr);
}

function deltr(){
	if ($("input[name=SelRow]").val() == 0)
	{
		layer.alert("此行不能删除！");
	}
	if($(".detail-list-tb .list-tr .active").length == 0){
		layer.alert("请先选择要删去的列");
		return;
	}
	if ($(".detail-list-tb .list-tr").length == 1)
	{
		layer.alert("明细至少要保留一列数据");
		return;
	}
	$(".detail-list-tb .list-tr.active").remove();
}

function SelectRows(obj){
	tr = $(obj).parent().parent();
	tr_index = tr.index();
	$("input[name=SelRow]").val(tr_index);
	var typev = $('select[name=nvtype]').eq(tr_index).val();

	var chg = $("input[name=chg]").eq(tr_index).val();
	if (chg == 1)
	{
		layer.alert("已发布不能修改");
		return false;
	}

	else {
		rt_loadUsersList('');
		return true;
	}
}

var XME_id='{{item.XME_id}}'.toString();
function getXME_id(){
	$.ajax({
		url: 'admin?viewid=A004&part=getXME_id&pk={{item.v_code}}',
		async:false,
		success: function(data){
			if (data=='"new"') { data='new'.toString()}
			XME_id=data;
		}
	});
}

function showXME(){
	getXME_id();
	layer.open({
		type: 2,
		title: '投票活动：{{item.cname}}',
		shadeClose: true,
		shade: 0.8,
		area: ['90%', '90%'],
		content: 'asset/js/wxeditor/index_A004.html#/for/'+XME_id.toString()
	});
}


$(function(){
	$(".detail-list-tb .list-tr").click(function(){
		$(".detail-list-tb .list-tr").removeClass("active");	
		$(this).addClass("active");
		$("input[name=SelRow]").val(parseInt($(this).index()));
	});

	$("#setgq").click(function(){
		$("input[name=edtime]").val("2099-12-31 12:59:59.000");
	});
}
)
</script>

{% endblock %}
{% block javascript %}
{% endblock %}       
            
