{% extends "list.html" %}


{% block topSearch %}
<!--table class="table table-bordered tb searchtbl">
    <tbody>
        <tr>
            <th style="font-size:14px;">关键字</th>
            <td width="230">
                <div class="input-group">
                    <input type="text" class="form-control" name="qqid" value="{{qqid}}" />
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="main_search()"><i class="fa fa-search"></i> 搜索</button>
                    </span>
                </div>
            </td>

            <td style="text-align:right" width="">
                <select name="orderbydir" id="orderbydir" class="form-control" onchange="this.form.pageNo.value=1;this.form.submit();">
                    <option value="ASC"{{' selected="selected"' if 'ASC' == orderbydir}}>顺序</option>
                    <option value="DESC"{{' selected="selected"' if 'DESC' == orderbydir}}>逆序</option>
                </select>
                <select style="margin-right:15px;" onchange="this.form.pageNo.value=1;this.form.submit();" class="form-control" name="orderby">
                    {%for od in orderbylist%}
                        <option value="{{od[0]}}"{{' selected="selected"' if '%s'%od[0] == orderby}}>{{od[1]}}</option>
                    {%endfor%}
                </select>
            </td>
        </tr>
        <tr class="search-submit">
            <td colspan="3">
                {% if lR[0] != '1' %}
                <button type="button" class="btn btn-success btn-sm" onclick="main_add()"><i class="fa fa-plus"></i> 增加</button>
                {% endif %}
            </td>
         </tr>
    </tbody>
</table-->
{% endblock %}
{% block mGrid %}
<table class="table table-bordered">
    <thead>
        <tr style="background-color:#e5e5e5" bgcolor="#ffffff">

            {%for n in NL%}
            <th style="text-align:{{n[3]}};width:{{n[2]}};">{{n}}</th>
            {%endfor%}
            <th style="">管理</th>
        </tr>
    </thead>

    <tbody>
        {% for row in dataList %}
        <tr bgcolor="#ffffff">
            {% for e in row %}
            <td >{{e}}</td>
            {% endfor %}
            <td style="text-align:center;">
                {%if row[-1]|string=='0' %}
                <a  class="btn btn-xs btn-warning" onclick="ajax_up({{row[0]}});" title="失效"><i class="fa fa-warning">失效</i></a>
                {%endif%}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block page_script %}
<script>
    function sync_data(id){


        $.ajax({
            url:"admin?viewid=A005&part=sync_data&id="+id,
            async:false,
            success: function(res){
                layer.alert(res.MSG)
                //console.log(res)
            }
        });

    }
</script>
{% endblock %}

