{% extends "local.html" %}
{% block html_local %}

<div class="panel-body">
	<div class="row" style="">
		<div class="col-sm-12">
			<table class="tb single-table">
				<tbody>
					<tr>
						<th style="width:100px;">
						<label>登录名</label>
						</th>
						<td>
						<input type="text" class="form-control" value="{{info.login_id}}" name="login_id" />
						</td>
					</tr>

					<tr>
						<th>
						<label>修改密码</label>
						</th>
						<td>
						<input onKeyup="testPassStrong(this)" type="password" class="form-control" value="" name="password" />
						</td>
					</tr>
					<tr>
						<td colspan = 2>

						<div style="width:20px;height:40px;float:left;margin-right:5px;"  >
							<div name="showPassDiv" style="width:20px;height:5px;float:left;" class="cleDivPass"></div>
							<div style="width:20px;line-height:35px;text-align:center;vertical-align:bottom;">低</div>
						</div>

						<div style="width:20px;height:40px;float:left;margin-right:5px;"  >
							<div name="showPassDiv" style="width:20px;height:5px;float:left;" class="cleDivPass"></div>
							<div style="width:20px;line-height:35px;text-align:center;vertical-align:bottom;">中</div>
						</div>

						<div style="width:20px;height:40px;float:left;"  >
							<div name="showPassDiv" style="width:20px;height:5px;float:left;" class="cleDivPass"></div>
							<div style="width:20px;line-height:35px;text-align:center;vertical-align:bottom;">高</div>
						</div>
						</td>
					</tr>
					<tr>
						<th>
						<label>确认密码</label>
						</th>
						<td>
						<input type="password" class="form-control" value="" name="password2" />
						<span style="display:none;" id="password2_msg"  ></span>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>

</div>

<style>
label {
    font-weight: 600;
    display: block;
}
.setDivPass{
	background-color:#23ac38;
}
.cleDivPass{
	background-color:#cacaca;
}
</style>
{% endblock %}

{% block page_script %}
<script>

	function testPassStrong(passText){
		var textStr=passText.value;
		setDivBackground('clear');
		if(!nisEmpty(textStr)){
			setDivBackground('add');
			if(textStr.length>6){
				setDivBackground('clear');
				if(/\d+/.test(textStr))setDivBackground('add');
				if(/[A-Za-z]+/.test(textStr))setDivBackground('add');
				if(/[`~!@#\$%\^\&\*\(\)_\+<>\?:"\{\},\.\\/;'\[\]]/.test(textStr))setDivBackground('add');
			}
		}
	}
	function setDivBackground(mode){
		var showPassDiv=$('div[name=showPassDiv]');
		if(mode=='add'){
			if(showPassDiv.eq(0).attr('class')!='setDivPass')showPassDiv.eq(0).attr('class','setDivPass');
			else if(showPassDiv.eq(1).attr('class')!='setDivPass')showPassDiv.eq(1).attr('class','setDivPass');
			else if(showPassDiv.eq(2).attr('class')!='setDivPass')showPassDiv.eq(2).attr('class','setDivPass');
		}else if(mode=='clear'){
			showPassDiv.eq(0).attr('class','cleDivPass');
			showPassDiv.eq(1).attr('class','cleDivPass');
			showPassDiv.eq(2).attr('class','cleDivPass');
		}
	}
	function selectFile(fileObj){
		//本地图片转base64编码,html5
		try{
			var reader = new FileReader();
			reader.readAsDataURL(fileObj.files[0]);
			reader.onload = function(e){
				$('#picShow').css('background-image','url('+e.target.result+')');
			};
		}catch(e){
			$('#picShow').css('background-image','');
			var pageList=fileObj.value.replace(/^[A-Za-z]+\:{1}\\+(\w+\\+)+/g,'');
			if(pageList.length>8){
				pageList=!(pageList.match(/\w{3}\.{1}\w+/))?'<font style="color:blue;">已选择图片</font>':pageList.match(/\w{3}\.{1}\w+/).toString();
			}
			$('#picShow').html(pageList);
		}
	}
	function formcheck_2(form){
		res = true;

			if($("input[name='password']").val()!='' ){
				if ( $("input[name='password']").val().length<6){
					showOrHidMsg('password2','密码不能小于6位!','danger','show','noScroll');
					res = false;
				}else{
					if ( $("input[name='password']").val() == $("input[name='password2']").val() ){
						res = true;
					}else{
						showOrHidMsg('password2','确认密码 与 修改密码 不一致!','danger','show','noScroll');
						res = false;
					}
				}
				//checkpassword();
			}
		return res;
	}
        
	function checkpassword(){
		var password = $("input[name='oldpassword']")[0];
		var opassword = $(password).val();
		res = false;
		$.ajax({
		  cache: false,
		  async: false,
		  url:"admin?fid=G001&part=ajax&action=checkpassword&pas="+opassword,
		  success: function(data){
			  if (data == 1){
				  $('body,html').animate({scrollTop:0},1000); /*将页面滚回顶部方便显示错误信息*/
				  showOrHidMsg('oldpassword','请输入正确的密码!','danger','show','noScroll');
				  res = false;
			  }
			  else{
				  showOrHidMsg('oldpassword','ok','success','show','noScroll');
				  res = true;
			  }
		  }
		})
		return res;
	}
</script>
{% endblock %}
        
            
	
