{% extends "list.html" %}


{% block topSearch %}
<table style="width:100%;">
	<tbody>
		<tr style="width:100%;">
			
			<td style="width:300px">
				<div class="input-group">
					
					<input type="text" class="form-control" name="qqid" value="{{qqid}}"  placeholder="请输入关键字"/>
					<span class="input-group-btn">
					<button class="btn btn-default " style="background-color:#36648B;" type="button" onclick="main_search()"><font color="#FFFFFF"><i class="fa fa-search"></i> 搜索</font></button>
					</span> 
				</div>
			</td>
			<td style="text-align:right;">
				{% if lR[0] != '1' %}
				<button type="button" class="btn btn-success btn-sm" style="background-color:#36648B;" onclick="main_add()"><font color="#FFFFFF"><i class="fa fa-plus"></i> 增加</font></button>
				{% endif %}
			</td>
			
		</tr>
	
	</tbody>
</table>
{% endblock %}
        
	
{% block mGrid %}
<table class="table table-bordered">
	<thead>
		<tr style="background-color:#e5e5e5" bgcolor="#ffffff">

			{%for n in NL%}
			<th style="text-align:{{n[3]}};width:{{n[2]}};">{{n}}</th>
			{%endfor%}
			<th style="text-align:center">操作</th>
		</tr>
	</thead>

	<tbody>
		{% for row in dataList %}
		<tr bgcolor="#ffffff">
			{% for e in row %}
			<td style="text-align:;">{{e}}</td>
			{% endfor %}
			<td style="text-align:center;">
				<a class="btn btn-xs btn-info" onclick="main_update({{row[0]}})" title="编辑"><i class="fa fa-edit"></i></a>
				<a class="btn btn-xs btn-warning" onclick="main_del({{row[0]}});" title="删除"><i class="fa fa-trash-o"></i></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
{% block page_script %}

<script>

function main_del(id){
	layer.confirm('删除角色将会影响系统权限,请谨慎删除!', {
			btn: ['是','否'] //按钮
		}, function(index,layero){
			layer.close(index);
			$.ajax({
				url:sUrl+"&part=main_del&pk="+id,
				async:false,
				success: function(data){
					layer.msg(data.MSG);
					location.reload();
				}
			});

		}, function(){
			layer.closeAll();
		});
}
$(function(){
	$("select[name=set_ctype]").change(function(){
		var v = $(this).val();
		if(v != ''){
			if($("input[name=item_id]:checked").length == 0){
				layer.alert("请选择商品");
				$(this).val('');
				return false;
			}
			$("input[name=action]").val('setCtype');
			$("input[name=part]").val('post');                
			$("form[name=frmMain]")[0].submit();    
		}
	});
	
	$("select[name=set_lb]").change(function(){
		var v = $(this).val();
		if(v != ''){
			if($("input[name=item_id]:checked").length == 0){
				layer.alert("请选择商品");
				$(this).val('');
				return false;
			}
			$("input[name=action]").val('setLb');
			$("input[name=part]").val('post');                
			$("form[name=frmMain]")[0].submit();    
		}
	});
});
</script>
{% endblock %}
        
            
	
