{% extends "index.html" %}

{% block contentpanel %}
<div class="wrapper wrapper-content">
        <div class="row">
			<div class="col-sm-10">
                <div class="row">
					<div class="col-sm-4">
                        <div class="row row-sm text-center">
                            <div class="col-xs-4">
                                <div class="panel padder-v item">
                                    <div class="text-434e6c font-thin h2">{{user_amount}}</div>
                                    <span class="text-muted text-xs">用户数量（个）</span>
                                    <div class="top text-right w-full"></div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="panel padder-v item">
                                    <div class="text-434e6c font-thin h2">{{goods_amount}}</div>
                                    <span class="text-muted text-xs">商品数量（个）</span>
                                    <div class="top text-right w-full"></div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="panel padder-v item">
                                    <div class="text-434e6c font-thin h2">{{orders_amount}}</div>
                                    <span class="text-muted text-xs">订单总数（笔）</span>
                                    <div class="top text-right w-full"></div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="panel padder-v item">
                                    <div class="text-434e6c font-thin h2">{{today_order}}</div>
                                    <span class="text-muted text-xs">今日销售额（元）</span>
                                    <div class="bottom text-left"></div>
                                </div>
                            </div>
							<div class="col-xs-4">
                                <div class="panel padder-v item">
                                    <div class="text-434e6c font-thin h2">{{today_views}}</div>
                                    <span class="text-muted text-xs">今日浏览量（次）</span>
                                    <div class="top text-right w-full"></div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="panel padder-v item">
                                    <div class="text-434e6c font-thin h2">{{orders_status_2}}</div>
                                    <span class="text-muted text-xs">未发货订单（笔）</span>
                                    <div class="bottom text-left"></div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-sm-5">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title" style="border-bottom:none;background:#fff;">
                                <h5>基本信息</h5>
								{% if base_me.with_flag|string=='0' and base_me.appid==''%}
								<div class="ibox-tools">
                                    <button class="btn btn-xs btn-info" type="button" onclick="insert()" style="marhin-bottom:0;">导入演示数据</button>
                                </div>
								{%endif%}
                            </div>
                            <div class="ibox-content" style="border-top:none;padding-top: 5px;">
								<div class="ibox-content no-padding" style="height:192px;border-top:none;">
									<ul class="list-group">
										<li class="list-group-item ibox-jibeninfo">
											<div class="item-tit">小程序Appid:</div>
											<b style="color:#333333">{{base_me.appid or '未设置'}}</b>
										</li>
										<li class="list-group-item ibox-jibeninfo">
											<div class="item-tit">小程序Secret:</div>
											<b style="color:#333333">{{base_me.secret or '未设置'}}</b>
										</li>
										<li class="list-group-item ibox-jibeninfo">
											<div class="item-tit">小程序SubUrl</div>
											<b style="color:#333333">https://weixin.janedao.cn/api/{{usr_id}}?viewid=home</b>
										</li>

									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="ibox float-e-margins">
							<div class="ibox-content ibox-sale-box">
								<div class="sale-box">
									<div class="sale-box-header">
										<div class="sale-name">系统版本</div>
										<div class="sale-number">
											{%if base_me.vip_name==''%}
											体验版
											{%else%}
											{{base_me.vip_name}}
											{%endif%}
										</div>
										<div class="sale-text">
											{%if base_me.vip_flag!=7%}
											{{base_me.expire_time}}到期
											{%endif%}
										</div>
									</div>

								</div>
								<marquee behavior="scroll" direction="left" style="color:red;">{{toll_config.memo}}</marquee>
								<div class="sale-center">
									<div class="sale-center-flex">
										{%if base_me.vip_flag!=7%}
											{%if base_me.vip_flag==''%}
											<button type="button" class="sale-center-vip" onclick="upgrade_vip()">升级版本
											</button>
											{%else%}
											<button type="button" class="sale-center-vip" onclick="upgrade_vip()">续费版本
											</button>
											{%endif%}
										{%endif%}
									</div>



								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="border-bottom:none;background:#fff;">
						<h5>简道商城平台官方交流群</h5>
                    </div>
                    <div class="ibox-content" style="border-top:none;">
                        <div class="wechat-group">
							{#
							<img class="code" src="https://www.maliapi.com/img/qrcode/wechat.jpg" />
							#}
							<div class="text">添加QQ或微信<br/>交流更多开店知识</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-sm-12" style="padding-left: 0; padding-right: 0;">
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title" style="background:#fff;">
							<h5>店铺及商品看板</h5>
						</div>
						<div class="ibox-content">
							<div class="row show-grid">
								<div class="col-md-1">
									<div class="text-434e6c font-thin h2">{{goods_sell}}</div>
									<span class="text-muted text-xs">出售中</span>
									<div class="bottom text-left"></div>
								</div>
								<div class="col-md-1">
									<div class="text-434e6c font-thin h2">{{sold_out}}</div>
									<span class="text-muted text-xs">已下架</span>
									<div class="bottom text-left"></div>
								</div>
								<div class="col-md-1">
									<div class="text-434e6c font-thin h2">{{score_warn}}</div>
									<span class="text-muted text-xs">库存预警</span>
									<div class="bottom text-left"></div>
								</div>
								<div class="col-md-1">
									<div class="text-434e6c font-thin h2">{{evaluation}}</div>
									<span class="text-muted text-xs">商品评价</span>
									<div class="bottom text-left"></div>
								</div>
								<div class="col-md-1">
									<div class="text-434e6c font-thin h2">{{feedback}}</div>
									<span class="text-muted text-xs">用户反馈</span>
									<div class="bottom text-left"></div>
								</div>
								{#
								<div class="col-md-2">
									<div class="text-434e6c font-thin h2">{{drawal_audit}}</div>
									<span class="text-muted text-xs">提现审核</span>
									<div class="bottom text-left"></div>
								</div>
								#}
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title" style="background:#fff;">
							<h5>交易订单看板</h5>
						</div>
						<div class="ibox-content">
							<div class="row show-grid">
								<div class="col-md-1">
									<div class="text-434e6c font-thin h2">{{order_status_1}}</div>
									<span class="text-muted text-xs">待付款</span>
									<div class="bottom text-left"></div>
								</div>
								<div class="col-md-1">
									<div class="text-434e6c font-thin h2">{{order_status_4}}</div>
									<span class="text-muted text-xs">待自提</span>
									<div class="bottom text-left"></div>
								</div>
								<div class="col-md-1">
									<div class="text-434e6c font-thin h2">{{order_status_5}}</div>
									<span class="text-muted text-xs">待收货</span>
									<div class="bottom text-left"></div>
								</div>
								<div class="col-md-1">
									<div class="text-434e6c font-thin h2">{{order_status_7}}</div>
									<span class="text-muted text-xs">已完成</span>
									<div class="bottom text-left"></div>
								</div>
								<div class="col-md-1">
									<div class="text-434e6c font-thin h2">{{order_status_99}}</div>
									<span class="text-muted text-xs">退款中</span>
									<div class="bottom text-left"></div>
								</div>
								<div class="col-md-1">
									<div class="text-434e6c font-thin h2">{{order_status_89}}</div>
									<span class="text-muted text-xs">售后中</span>
									<div class="bottom text-left"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{#
			<div class="col-sm-4" style="padding-left: 0; padding-right: 0;">
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title" style="background:#fff;">
							<h5>常用功能</h5>
						</div>
						<div class="ibox-content" style="padding: 0;">
							<div class="row show-grid" style="padding-bottom: 12px;">
								<div class="col-md-3">
									<a href="/admin?viewid=E001">
										<div class="text-cygn font-thin h2">
											<i class="fa fa-ticket"></i>
										</div>
										<span class="text-muted text-xs">优惠券</span>
										<div class="bottom text-left"></div>
									</a>
								</div>
								<div class="col-md-3">
									<a href="/admin?viewid=D003">
										<div class="text-cygn font-thin h2">
											<i class="fa fa-shopping-bag"></i>
										</div>
										<span class="text-muted text-xs">商品管理</span>
										<div class="bottom text-left"></div>
									</a>
								</div>
								<div class="col-md-3">
									<a href="/admin?viewid=C001">
										<div class="text-cygn font-thin h2">
											<i class="fa fa-picture-o"></i>
										</div>
										<span class="text-muted text-xs">广告管理</span>
										<div class="bottom text-left"></div>
									</a>
								</div>
								<div class="col-md-3">
									<a href="/admin?viewid=F001">
										<div class="text-cygn font-thin h2">
											<i class="fa fa-file-text"></i>
										</div>
										<span class="text-muted text-xs">订单管理</span>
										<div class="bottom text-left"></div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title" style="background:#fff;">
							<h5>销售概况</h5>
						</div>
						<div class="ibox-content">
							<div class="row show-grid" style="margin: 0;">
								<div class="col-md-12 col-md-sale-box" style="margin-bottom: 15px;">
									<div class="col-md-3 col-md-sale-name">昨日销量</div>
									<div class="col-md-9 no-padding">
										<div class="col-md-12 col-text-left" style="border-bottom: 1px solid #f0f3f4;">
											<span>订单量（件）</span>{{yesterday_a.amount}}
										</div>
										<div class="col-md-12 col-text-left">
											<span>订单金额（元）</span>{{yesterday_a.total}}
										</div>
									</div>
								</div>
								<div class="col-md-12 col-md-sale-box">
									<div class="col-md-3 col-md-sale-name">本月销量</div>
									<div class="col-md-9 no-padding">
										<div class="col-md-12 col-text-left" style="border-bottom: 1px solid #f0f3f4;">
											<span>订单量（件）</span>{{this_month.amount}}
										</div>
										<div class="col-md-12 col-text-left">
											<span>订单金额（元）</span>{{this_month.total}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>#}
        </div>

		
    </div>
<style>
.h2{
	font-size:28px;
	font-weight:300;
	color:#333333;
}
.btn-item {
    color: red;
    background-color: #ffffff;
    border-color: red;
}
.oss_vip{
	width: 110px;
	height: 32px;
	background-color: #3388ff;
	border: 0;
	color: #fff;
	font-weight: normal;
	border-radius: 100px;
	line-height: 32px;
	outline:none;
}
.ibox-sale-box{
	border-top: none; 
	height: 208px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05); 
	padding: 0;
}
.ibox-sale-box .sale-box{
	display: flex;
	border-bottom: 1px solid #f0f3f4;
}
.ibox-sale-box .sale-box .sale-box-header{
	flex: 0 0 100%;
	border-right: 1px solid #f0f3f4;
	padding-bottom: 15px;
}
.ibox-sale-box .sale-box .sale-box-right{
	border-right:none;
}
.ibox-sale-box .sale-box .sale-box-header .sale-name{
	width: 90%;
	margin: 0 auto;
	height: 20px;
	line-height: 25px;
}
.ibox-sale-box .sale-box .sale-box-header .sale-number{
	color: #de6360;
	font-size: 32px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
}
.ibox-sale-box .sale-box .sale-box-header .sale-text{
	color: #999;
	font-size: 12px;
	text-align: center;
}
.ibox-sale-box marquee{
	height: 40px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #f0f3f4;
}
.ibox-sale-box .sale-center{
	display: flex;
	height: 55px;
	align-items: center;
	justify-content: center;
}
.ibox-sale-box .sale-center .sale-center-flex{
	flex: 0 0 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ibox-sale-box .sale-center .sale-center-flex .sale-center-vip{
	width: 110px;
	height: 32px;
	background-color: #27c24c;
	border: 0;
	color: #fff;
	font-weight: normal;
	border-radius: 100px;
	line-height: 32px;
	outline:none;
}

.shop-price{
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop-price .show-price-box{
    border: 1px solid #f5f5f5;
    box-shadow: 0 0 12px #f5f5f5;
	border-radius: 5px;
	padding-bottom: 20px;
	cursor: pointer;
	position: relative;
}
.shop-price .show-price-header{
	text-align: center;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 14px;
}
.shop-price .show-price-number{
	border-top: 1px solid #f2f2f2;
    width: 80%;
    margin: 0 auto;
    height: 60px;
    font-size: 36px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #27c24c;
}
.shop-price .show-price-oss-number{
	color: #3388ff;
}
.shop-price .show-price-text{
	border-bottom: 1px solid #f2f2f2;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 10px;
    color: #999;
    margin-top: -5px;
    padding-bottom: 15px;
    font-weight: 300;
}
.shop-price .show-price-info{
	width: 85%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    color: #666;
    font-size: 12px;
}
.layui-layer-molv .layui-layer-title {
    background: #27c24c;
}
.layui-layer-lan .layui-layer-title {
    background: #3388ff;
}
.layui-layer-lan .layui-layer-btn a {
    background: #3388ff;
    border: none;
}
.layui-layer-molv .layui-layer-btn a {
	background: #27c24c;
	border: none;
}
</style>
<script src="static/assets/js/qrcode.min.js"></script> <!--  -->
<script>


	function upgrade_vip(){
		itemvip=''
		$.ajax({
				url:sUrl+"&part=vip_db",
				async:false,
				success: function(data){
					if (data.code=='0'){
						itemvip=data.data
					}

				}
			});

		if (itemvip!=''){

			lenl=itemvip.length
			if (lenl==1){
				cl=12
				lc=4
			}else if(lenl==2){
				cl=6
				lc=6
			}else{
				cl=4
				lc=12
			}
			content_html='<div class="col-sm-12 shop-price">';
			for (var i=0;i<lenl;i++){
				content_html+='<div class="col-sm-'+cl+'">';
				content_html+='<div class="show-price-box" onclick="set_vip('+itemvip[i]['id']+')" id="v_'+itemvip[i]['id']+'">';
				content_html+='<div class="show-price-header">'+itemvip[i]['name']+'</div>';
				content_html+='<div class="show-price-number"><text>¥</text>'+itemvip[i]['price']+'</div>';
				content_html+='<div class="show-price-text">有效期：'+itemvip[i]['day']+'天</div>';
				content_html+='<div class="show-price-info">'+itemvip[i]['txt']+'</div>';
				content_html+='<input type="hidden" class="form-control"  name="vip_flag" value=""/>';
				content_html+='</div>';
				content_html+='</div>';
			}
			content_html+='</div>';
			layer.open({
				type: 1,
				skin: 'layui-layer-molv', //加上边框
				area: ['45rem;', '35rem;'], //宽高
				content: content_html,
				title: "选择要购买的套餐",
				btn: ['确认购买']
				,yes: function(index, layero){
				   var vip_flag = $('input[name=vip_flag]').val();

				   if(vip_flag==''){
					 layer.msg('请选择套餐！');
					 return false;
				   }

				   $.ajax({
						url:sUrl+"&part=buy_vip&vip_flag="+vip_flag,
						async:false,
						success: function(data){
							if (data.code=='0'){
								layer.close(index);
								qrcode_html='<div id="qrcode"></div><script type="text/javascript">';
								qrcode_html+='new QRCode(document.getElementById("qrcode"), "'+data.code_url+'");'
								qrcode_html+='<\/script>'
								layer.open({
									type: 1,
									skin: 'layui-layer-molv', //加上边框
									area: ['25rem;', '25rem;'], //宽高
									content: qrcode_html,
									title: "请打开微信进行扫码支付",


								});
								//window.location.href=data.url

							}else{
								 layer.msg(data.MSG);
							}
						}
					});
				 }
			});
		}else{
			layer.msg('VIP套餐还没有设置好，请等待或者联系管理员');
		}
	}


	function set_vip(obj){
		if (obj=='1'){
			$("#v_1").css({"border":"1px solid #27c24c","box-shadow":"0 0 12px #27c24c17"});
			$("#v_2").css({"border":"1px solid #f5f5f5","box-shadow":"0 0 12px #f5f5f5"});
			$("#v_3").css({"border":"1px solid #f5f5f5","box-shadow":"0 0 12px #f5f5f5"});
			$('input[name=vip_flag]').val('1');
		}else if(obj=='2'){
			$("#v_2").css({"border":"1px solid #27c24c","box-shadow":"0 0 12px #27c24c17"});
			$("#v_3").css({"border":"1px solid #f5f5f5","box-shadow":"0 0 12px #f5f5f5"});
			$("#v_1").css({"border":"1px solid #f5f5f5","box-shadow":"0 0 12px #f5f5f5"});
			$('input[name=vip_flag]').val('2');
		}else{
			$("#v_3").css({"border":"1px solid #27c24c","box-shadow":"0 0 12px #27c24c17"});
			$("#v_1").css({"border":"1px solid #f5f5f5","box-shadow":"0 0 12px #f5f5f5"});
			$("#v_2").css({"border":"1px solid #f5f5f5","box-shadow":"0 0 12px #f5f5f5"});
			$('input[name=vip_flag]').val('3');
		}

	}

	function show_vip(){
		window.open('https://www.maliapi.com/#price');
	}
	function insert(){
		//layer.msg('正在开发……');

		content_html='<br><br><div class="col-sm-12">';
		content_html+='<label class="col-sm-4 control-label"><b style="color:#333333;">小程序appid:</b></label>';
		content_html+='<div class="col-sm-8">';
		content_html+=' <input type="text" class="form-control"  name="appid" value=""/>';
		content_html+='</div></div><br><br>';
		content_html+='<div class="col-sm-12">';
		content_html+='<label class="col-sm-4 control-label"><b style="color:#333333;">小程序secret:</b></label>';
		content_html+=' <div class="col-sm-8">';
		content_html+=' <input type="text" class="form-control"  name="secret" value=""/>';
		content_html+='</div></div><br><br>';

		layer.open({
			type: 1,
			skin: 'layui-layer-rim', //加上边框
			area: ['35rem;', '20rem;'], //宽高
			content: content_html,
			title: "填写小程序基本信息",
			btn: ['提交']
			,yes: function(index, layero){
			   var appid = $('input[name=appid]').val();
			   var secret = $('input[name=secret]').val();

			   if(appid==''){
				 layer.msg('小程序appid不能为空');
				 return false;
			   }
			   if(secret==''){
				 layer.msg('小程序secret不能为空');
				 return false;
			   }
			   $.ajax({
					url:sUrl+"&part=sync&appid="+appid+"&secret="+secret,
					async:false,
					success: function(data){
						if (data.code=='0'){
							layer.close(index);
							layer.msg(data.MSG);
							location.reload();
						}else{
							 layer.msg(data.MSG);
						}
					}
				});
			 }
		});

	}
</script>
{% endblock %}
			


