{% extends "list.html" %}
{% block topSearch %}
<table style="width:100%;">
	<tbody>
		<tr style="width:100%;">
			
			<td style="width:300px">
				<div class="input-group">
					
					<input type="text" class="form-control" name="qqid" value="{{qqid}}"  placeholder="请输入关键字"/>
					<span class="input-group-btn">
					<button class="btn btn-default " style="background-color:#36648B;" type="button" onclick="main_search()"><font color="#FFFFFF"><i class="fa fa-search"></i> 搜索</font></button>
					</span> 
				</div>
			</td>

			<td style="text-align:right;">
				{% if lR[0] != '1' %}
				<button type="button" class="btn btn-success btn-sm" style="background-color:#36648B;" onclick="main_add()"><font color="#FFFFFF"><i class="fa fa-plus"></i> 增加</font></button>
				{% endif %}

			</td>
			
		</tr>
	
	</tbody>
</table>
{% endblock %}
{% block mGrid %}
						<table class="table table-bordered" >
							<thead>
								<tr style="background-color:#e5e5e5" bgcolor="#ffffff">
									
									{%for n in NL[1:]%}
									<th style="width:{{n[2]}};">{{n}}</th>
									{%endfor%}
									<th style="width:100px;">操作</th>
								</tr>
							</thead>
							<tbody>
								{% for row in dataList %}
								<tr bgcolor="#ffffff">


									{% for e in row[1:] %}
									<td style="">

                                        {{e}}

                                    </td>

									{% endfor %}
									<td style="text-align:center;">
										{% if lR[1] == '' %}
										<a class="btn btn-xs btn-info" onclick="main_update({{row[0]}})" title="编辑"><i class="fa fa-edit"></i></a>
										{% endif %}
										{#
										{% if lR[2] == '' %}
										<a  class="btn btn-xs btn-warning" onclick="main_delete({{row[0]}});" title="删除"><font color="#FFFFFF"><i class="fa fa-trash-o"></i> 删除</font></a>
										{% endif %}
										#}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					
<script type="text/javascript" src="asset/js/jquery.min.js"></script>
<script>
$(function(){
		
		//FixTable("mGridTable", 3, '100.5%', 450);
	}); 
	
function change_sort(obj){
	var pk = obj.name.split('_')[1];
	var v = obj.value;
	var sUrl = "admin?fid=" + $('input[name=fid]').val() + "&part=changeSort&pk=" + pk + "&sort=" + v;
	var R = sendXMLHTTP(sUrl);
	if(R!='1'){
		alert(R);
	}
}
function change_status(obj){
	var pk = obj.name.split('_')[1];
	var v = obj.value;
	var sUrl = "admin?fid=" + $('input[name=fid]').val() + "&part=changeStatus&pk=" + pk + "&status=" + v;
	var R = sendXMLHTTP(sUrl);
	if(R!='1'){
		alert(R);
	}
}
</script>
						{% endblock %}
