{% extends "index_new.html" %}
{% block breadcrumb %}
	{{breadcrumb}}
{% endblock %}

{% block MUL_BTNS %}
<input type="submit" class="btn btn-success span2" name="add_save" value="保存" />
{{sUrlBack}}
{% endblock %}

{% block form_block %}
<form onsubmit="return formcheck(this)" id="frmMain" enctype="multipart/form-data" method="post" action="admin" class="vbox form-horizontal form" name="frmMain">
{% endblock %}
{% block contentpanel %}
		{% if need_editor == 1 %}
            <link href="static/assets/css/plugins/summernote/summernote.css" rel="stylesheet">
            <script src="static/assets/js/plugins/summernote/summernote.js"></script>
            <script src="static/assets/js/plugins/summernote/summernote-zh-CN.js"></script>
		{% endif %}
			<div class="main" style="width:100%;">
					{{html_hidden}}
                    {% block html_border_top %}
                        <section class="panel panel-default">
                            <!--<header class="panel-heading font-bold">{{navTitle}}</header>-->
                            <div class="title_comm"><span class="block_blue"></span><b style="color:#333333;">{{navTitle}}</b></div>

                            {% block table_list %}
                            <div class="panel-body">
                            <!--div class="table-list" style="min-height:1400px;"-->
                            {% endblock%}
                    {% endblock %}
                    
                            {% block html_local %}{% endblock %}
                            {{html_upload}}
                            {% block otherInfo %}{% endblock %}
                            </div>
                            {% block page_script %}
                            <script>
                                function formcheck_2(form){

                                    return true;

                                }
        
                            </script>
                            {% endblock %}
                        
                    {% block html_border_bottom %}
                        </section>
                    {% endblock %}
				
			</div>
			<style>
                .padder {
                    padding-left:1%;
                    padding-right:1%;
                }
                .main{
					margin-top: 15px;
					position: relative;
					background-color: #ffffff;
					border-radius: 2px;
                }
            </style>	
{% endblock %}