{% include 'header.html' %}

<body class="fixed-sidebar full-height-layout gray-bg">
	<!--左侧导航开始-->
	<nav class="navbar-default navbar-static-side" role="navigation">
		<div class="nav-close"><i class="fa fa-times-circle"></i>
		</div>
		<div class="sidebar-collapse">
			{#
			<ul class="nav" id="side-menu">
				<li class="nav-header">
					<div class="dropdown profile-element">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
							<span class="clear">
								<span class="block m-t-xs" style="font-size:20px;">
									<a href="/admin?viewid=home">
										<img src="https://www.maliapi.com/img/logoadmin.png" class="logo" />
									</a>
								</span>
							</span>
						</a>
					</div>
					<div class="logo-element">
						<a href="/admin?viewid=home">
							<img src="https://www.maliapi.com/img/logoactive.png" class="logo" />
						</a>
					</div>
				</li>
				<li class="{{'active' if viewid=='home'}}">
					<a class="J_menuItem" href="/admin?viewid=home">
						<i class="fa fa-line-chart"></i>
						<span class="nav-label">店铺概况</span>
					</a>
				</li>
				{% for m1 in system_menu.menu1 %}
					<li {{' class="active"' if hidden.mnuid|string == m1[0]|string else ''}}>
						<a {% if m1[2] in ('','null',None,0) %}
								href="#"
							{% else %}
								href="/admin?viewid={{m1[2]}}"
							{% endif %}>
							<i class="fa {{m1[3]}}"></i>
							<span class="nav-label">{{m1[1]}}</span>
							{% if system_menu.menu2.get(m1[0]) %}
								<span class="fa arrow"></span>
							{%endif%}
						</a>
						{% if system_menu.menu2.get(m1[0]) %}
							<ul class="nav nav-second-level">
								{% for m2 in system_menu.menu2.get(m1[0]) %}

								<li {{' class="active"' if hidden.sub1id|string == m2[0]|string else ''}}">
									<a {% if m2[2] in ('','null',None,0) %}
											href="#"
										{% else %}
										class="J_menuItem"	href="/admin?viewid={{m2[2]}}"
										{% endif %}>

										<span class="nav-label">{{m2[1]}}</span>
										{% if system_menu.menu3.get(m2[0]) %}
											<span class="fa arrow"></span>
										{%endif%}
									</a>
									{% if system_menu.menu3.get(m2[0]) %}
										<ul class="nav nav-third-level">
											{% for m3 in system_menu.menu3.get(m2[0]) %}
											<li class="{{'active' if viewid==m3[2] }}">
												<a class="J_menuItem" href="/admin?viewid={{m3[2]}}">
													<span class="nav-label">{{m3[1]}}</span>
												</a>
											</li>
											{% endfor %}
										</ul>
									{% endif %}
								</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{%endfor%}
			</ul>
			#}
		</div>
	</nav>
	<!--左侧导航结束-->
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg dashbard-1">
			<div class="row" >
				<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
					<div class="navbar-header" style="width: 70%;">
						<a class="navbar-minimalize minimalize-styl-2 btn btn-info " href="#"><i class="fa fa-bars"></i></a>
						<div style="width: 100%; color: #ff4343; padding-left: 30px;"><i class="fa fa-bullhorn"></i>{{toll_config.notices}}
						</div>
					</div>
					<ul class="nav navbar-top-links navbar-right">
						<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" > <span class="thumb-sm avatar pull-left"> <img class="avatar" src="/static/asset/images/avatar.png"> </span> {{session_user.usr_name}} <b class="caret"></b> </a>
							<ul class="dropdown-menu animated fadeInRight">
							  <span class="arrow top"></span>
							  <li> <a href="/admin?viewid=H001">个人设置</a> </li>
							  <li> <a href="/admin?viewid=menu&part=refeshmenu">刷新菜单</a> </li>

							  <li class="divider"></li>
							  <li> <a href="/admin?viewid=login&part=logout">退出登录</a> </li>
							</ul>
						</li>

					</ul>
				</nav>
			</div>
			{% block form_block %}
			<form method="POST" action="" class="form-inline" name="frmMain" id="frmMain">
			{% endblock %}
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-4" style="top:10px;">
					<ol class="breadcrumb">
						<li style="float:left;">
							<h4><a href="/admin?viewid=shop">我的店铺列表</a></h4>
						</li>

					</ol>
				</div>
				<div class="col-sm-4" style="top:10px;">
				{% block MUL_BTNS %}
					<table class="tb single-table clearfix top-line">
						<tr>
							<td style="text-align:left;">
								{% if hidden.mode not in ['view'] %}
									<input type="submit" class="btn btn-success span2" name="add_save" value="提交"/>
								{% endif %}
								{{sUrlBack}}
							</td>
						</tr>
					</table>
				{% endblock %}
				</div>
			</div>
			{% block contentpanel %}
				
				
			{% endblock %}
			</form>
			
		</div>
	</div>
    

</body>

</html>
