{% extends "list.html" %}


{% block topSearch %}

{% endblock %}

{% block mGrid %}
<table class="table table-bordered">
    <thead>
        <tr style="background-color:#e5e5e5" bgcolor="#ffffff">
             <!--th style="text-align:center;width:50px;">选择</th-->
            {%for n in NL[2:]%}
            <th style="text-align:center;">{{n}}</th>
            {%endfor%}
            <th style="text-align:center;width:100px;">管理</th>
        </tr>
    </thead>
    <tbody>
        {% for row in dataList %}
        <tr bgcolor="#ffffff">
            <!--td><input type="checkbox" name="del_id" value="{{row[0]}}"/></td-->

            <td style="text-align:center;width:250px;">{{row.key}}</td>
            <td style="text-align:center;width:60px;"><img src="{{row.pic}}" style="width:50px;height:50px;"/></td>
            <td style="text-align:center;width:100px;">{{row.fsize}}</td>
            <td style="text-align:center;width:100px;">
                <select name="audit"  class="form-control" disabled="disabled">
                    <option value="0"{{' selected="selected"' if '0' == row.type|string}}>标准存储</option>
                    <option value="1"{{' selected="selected"' if '1' == row.type|string}}>低频存储</option>
                </select>
            </td>
            <td style="text-align:center;width:200px;">{{row.put_time}}</td>
            <td style="text-align:center;width:50px;">
                <a  class="btn btn-xs btn-warning" onclick="audit_up('{{row.key}}');" title="删除">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block page_script %}
<script>
function audit_up(ait){

	$.ajax({
		url:"admin?viewid=Z003&part=audit&ait="+ait,
		dataType: "json",
		success:function(data){
		    layer.msg(data.MSG);
			if (data.code==0){
			    setTimeout(window.location.reload(),3000);
		    }
		}
	});
}
</script>
{% endblock %}


