@charset "utf-8";
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*取消链接高亮*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

/* ---------- General styles ---------- */
html {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none; /* forbidden iPhone/Safari font size adjust*/
    -ms-text-size-adjust: none;
}

body {
    word-break: break-all;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

/* img fit*/
img {
    border: none;
    display: block;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

button, input, textarea {
    outline: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*float高度塌陷清除*/
.clearfix:after {
    display: block;
    height: 0;
    content: '';
    clear: both;
}

/*marginTop生效*/
.befo:before, .afte:after {
    content: '';
    display: table;
}

/* 去除iPhone中默认的input样式 */
input[type="submit"],
input[type="reset"],
input[type="button"],
input {
    /*-webkit-appearance: none;*/
    resize: none;
}


